/*
外部框整体样式*/
.content{
    float: left;
    margin-left: 260px;
    background-color:#F7F7F7 ;
    width: 85%
}
/*顶栏样式*/
.pageheader{
    height: 44px;
    width: 100% ;
    background: #FFFFFF;
    margin-top: 44px;
    text-align: center;
}
/*标题样式*/
.titlecss{
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    font-weight: bold;
    color: #2372A8;
    letter-spacing: 0;
    float: left;font-size: 24px;
    margin-left: 37px;
}
/*下部框整体样式*/
.formContent{
    margin-left: 31px;
    background-color: white;
    margin-top: 1%;
    height: 100%;
    width: 95%;
}

/*保存按钮样式*/
.btnsave{
    background: #03BABF;
 border-radius: 2px;
}
/*删除按钮样式*/
.btnedit{
    background: #2372A8;font-family: PingFang-SC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    border-radius: 3px 0px 0px 3px;
}
/*编辑按钮样式*/
.btndel{
    font-family: PingFang-SC-Regular;
    font-size: 14px;
    color: #2372A8;
    letter-spacing: 0;
    border-radius: 3px;
}
/*表格中普通按钮样式*/
.btn-local{
    background-color: rgba(35,114,168,0.15);
    color: #2372A8;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid transparent;
    font-family: inherit;
}
/*表格中删除按钮样式*/
.btn-delete{
    background-color: rgba(255, 0, 0, 0.15);
    color: rgb(255, 0, 0);
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid transparent;
    font-family: inherit;
}



