/*
外部框整体样式*/
.content{
    float: left;
    margin-left: 260px;
    background-color:#F7F7F7 ;
    width: 85%
}
/*顶栏样式*/
.pageheader{
    height: 44px;
    width: 100% ;
    background: #FFFFFF;
    margin-top: 44px;
    text-align: center;
}
/*标题样式*/
.titlecss{
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    font-weight: bold;
    color: #2372A8;
    letter-spacing: 0;
    float: left;font-size: 24px;
    margin-left: 37px;
}
/*下部框整体样式*/
.formContent{
    margin-left: 31px;
    background-color: white;
    margin-top: 1%;
    height: 100%;
    width: 95%;
}

/*保存按钮样式*/
.btnsave{
    background: #03BABF;
 border-radius: 2px;
}
/*删除按钮样式*/
.btnCss{
    width:66px;
    height:33px;
    border: 1px solid #2372A8;
   border-radius: 3px 0px 0px 3px;
}
/*按钮字体样式*/
.btnedit{
    background: #2372A8;
    background-size: 100%;
    font-family: PingFang-SC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    border-radius: 3px 0px 0px 3px;
}
/*编辑按钮样式*/
.btndel{
   font-family: PingFang-SC-Regular;
    font-size: 14px;
    color: gray;
    letter-spacing: 0;
    border-radius: 3px;
}
/*上传按钮样式*/
.uploadbtn{
    margin-left: 37px;
    width:80px;height:28px;background: rgba(245,166,35,0.15);
    border: 1px solid #F5A623;
    border-radius: 2px;
}
.uploadbtn_font{
    font-family: PingFang-SC-Regular;
    font-size: 14px;
    color: #F5A623;
     letter-spacing: 0;
}




