.logincontent{
    width:100%;
    height:100%;
    background: url(../static/image/login-back.jpg) no-repeat center;
    background-size: 100%;
    position: fixed
}
.logindiv{
    width: 30%;
    height: 50%;
    margin-top: 15%;
    margin-left: 55%;
    background: #05314E;
    background-color: rgba(0,0,0,0.5);
    position: absolute;

}
.logintitle{
    color: white;text-align: center;font-size: 20px;font-weight: bold;padding-top:10px
}
.login_control{
    width: 90%;
    height: 100%;
    margin-left:25% ;
    margin-top: 15%;
  text-align: center;

}
.input_control{
     width: 100%;
    height: 20%;
    text-align: center;

}
input,#btn1,#btn2{
    width: 40%;
  border:none;
  border-bottom: 1px solid #2372A8;
  background: #05314E ;
  background-color: rgba(0,0,0,0);
  float: left;
    color: white;
}
input:focus {
     border:none;
    height: 30%;
    color: white;
     background: #05314E ;
    background-color: rgba(0,0,0,0);
}

.login_btn{
    margin-left: -30%;
    width:25%;
    height:35px;
    background: rgba(35,114,168,0.10);
    border: 1px solid #2372A8;
    border-radius: 2px;"><p style="
    font-family: PingFangSC-Regular;
    text-align: center;
    font-size: 14px;
    color: #1F9DF3;
    letter-spacing: 0;
}