.headerdiv{
     height: 100px;
    width: 100% ;
    background: #FFFFFF;
    margin-top: 20px;
    text-align: center;
}
.assertMessage{
    width: 20%;float: left;font-size: 15px;color: #F5A623;
}
.tablediv{
width: 70%;
    margin-left: 34px;
    margin-top: 20px
}
/*上传按钮样式*/
.uploadbtn{
    width:80px;height:28px;background: rgba(245,166,35,0.15);
    border: 1px solid #F5A623;
    border-radius: 2px;
}
.uploadbtn_font{
    font-family: PingFang-SC-Regular;
    font-size: 14px;
    color: #F5A623;
     letter-spacing: 0;
}
/*断言提示*/
