{% extends 'index.html' %}
{% block title %}<title> 接口场景用例</title> {% endblock %}

{% block content %}
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 row" id="apiCases" style="margin-left: 15%">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="width:90%;margin: 20px;">
            <div class="col-md-3 cl-sm-3 cl-xs-3"  id="search" style="padding-left: 0px;">
                <input type="text" class="form-control" name="search" v-model="searchinfo"
                            placeholder="请输入搜索接口名称的文本" @change="search()">
            </div>
            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="margin-top: 8px;width: auto;">选择项目：</label>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <select class="form-control" v-model="projectName" @change="selectPro($event)">
                    <option selected value="">请选择</option>
                    <option  v-for="item in projectList" :value="item">{! item !}</option>
                </select>
            </div>
            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="margin-top: 8px;width: auto;">选择模块：</label>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <select class="form-control" v-model="moduleName" @change="selectModu($event)">
                    <option selected value="">请选择</option>
                    <option  v-for="item in moduleList" :value="item">{! item !}</option>
                </select>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="align-content: right">
                <a href="/singleInterface/addapi/">
                    <button type="button" class="btn btn-primary">新建用例</button>
                </a>
            </div>
        </div>

        <div style="margin:2%">
            <div class="form-horizontal" role="form" style="margin-right:10%;margin-top: 20px;" >
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>接口名称</th>
                        <th>上一次执行结果</th>
                        <th>上一次执行时间</th>
                        <th>创建者</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody ref="tables" id="tableBody">
                        <tr v-for="(info,index) in result.data">
                            <td><label class="form-check-label">
                                <input type="checkbox" class="selBtn" id="selBtn" v-bind:value="[info.id]" @click="changeSel(info.id, $event)" value="info.id">
                                </label>
                                {! index+ pageCount*(pageNum-1) +1 !}
                            </td>
                            <td>{! info.name !}</td>
                            <td>
                                <p v-if="info.lastrunrslt === 0">无</p>
                                <p v-else-if="info.lastrunrslt === 1">Pass</p>
                                <p v-else>Fail</p>
                            </td>
                            <td>
                                <p v-if="info.lastruntime ===  'null'">无</p>
                                <p v-else>{! info.lastruntime !}</p>
                            </td>
                            <td>{! info.owing !}</td>
                            <td style="width: 25%">
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#viewinfos" @click="viewapi(info.id)" v-if="permission_view">查看</button>
                                <a v-bind:href="['/singleInterface/editor/?id='+info.id]">
                                        <button type="button" class="btn btn-sm btn-primary">编辑</button>
                                </a>
                                <button type="button" class="btn btn-sm btn-success" @click="runsingle(info.id)">执行</button>
                                <button type="button" class="btn btn-sm btn-danger" @click="delapi(result.data[index].id)">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="margin: -6px auto;width: 10%" v-if="pageview">
                    <ul class="pagination">
                        <li v-bind:class="disflag_left"><a @click="cutPage(pageNum)">&lt;</a></li>
                        <li><a>{! pageNum !}</a></li>
                        <li v-bind:class="disflag_right"><a @click="addPage(pageNum)">&gt;</a></li>
                    </ul>
                </div>
                <div ref="selall">
                    <label class="form-check-label">
                        <input type="checkbox" id="selAllBtn" class="selAllBtn" @click="selectAllBtn($event)">
                    </label><span>&nbsp;全选&nbsp;</span>
                    <button type="button" class="btn btn-default btn-sm" id="batchexe"  @click="batchrun()" style="padding: 2px 6px;" v-if="permission_run">批量执行</button>
                    <button type="button" class="btn btn-default btn-sm" id="batchdel"  @click="batchdel()" style="padding: 2px 6px;" v-if="permission_del">批量删除</button>
                </div>
                <div>
                    <label class="form-check-label">
                        <input type="checkbox" v-model="reportflag">
                    </label><span> 批量执行是否生成报告</span>
                </div>
            </div>
        </div>
        <div class="modal fade" id="viewinfos" tabindex="-1" role="dialog" aria-labelledby="viewinfosLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 500px;margin: 75px auto">
                <div class="modal-content" id="infos">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="viewinfosLabel">
                            用例详细信息
                        </h4>
                    </div>
                    <div class="modal-body">
                         <div class="form-group form-inline">
                             <p><label style="width: 15%;text-align: right;">host:</label><span style="margin: 8px;">{! viewapiInfos.host !}</span></p>
                             <p><label style="width: 15%;text-align: right;">url:</label><span style="margin: 8px;">{! viewapiInfos.url !}</span></p>
                             <p><label style="width: 15%;text-align: right;">method:</label><span style="margin: 8px;">{! viewapiInfos.method !}</span></p>
                             <p><label style="width: 15%;text-align: right;">header:</label><span style="margin: 8px;">{! headers !}</span></p>
                             <p><label style="width: 15%;text-align: right;">body:</label><span style="margin: 8px;">{! bodys !}</span></p>
                             <p><label style="width: 15%;text-align: right;">assert:</label><span style="margin: 8px;">{! viewapiInfos.assert !}</span></p>
                         </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
{% endblock %}

{% block vuejs1 %}
    <script type="text/javascript">
    var proid = "";
    var apilist = new Vue({
        delimiters: ['{!', '!}'],
        el:"#apiCases",
        data:{
            result:'',
            dlist:[],
            projectList:[],
            projectName:"",
            moduleList:[],
            moduleName:"",
            searchinfo : '',
            listid:proid,
            allModules:"",
            reportflag: true,
            viewapiInfos: "",
            headers: {},
            bodys: {},
            permission:{},
            permission_run:false,
            permission_del:false,
            permission_view:true,
            pageNum:1,
            disflag_left:"disabled",
            disflag_right:"",
            pageCount: 10,
            totalCount:0,
            pageview: false,
        },
        created(){
            vm1.$data.isActiveSi = false;
            vm1.$data.isActiveIn = false;
            vm1.$data.isActiveAl = false;
            vm1.$data.isActiveApi = true;
            vm1.$data.isActiveRs = false;
            axios.get('/getPermission/')
                    .then(resp =>{
                        console.log(resp.data);
                        this.permission = resp.data.permits;
                        console.log(this.permission);
                        this.permission_run = this.permission.permission_run;
                        this.permission_del = this.permission.permission_del;
                        this.permission_view = this.permission.permission_view;
                    }).catch(err=> {
                    console.log('请求失败:' + err.status + ',' + err.statusText);
                });
        },
        mounted(){
            this.getlist();
            this.getProinfo();
        },
        methods:{
            getlist(){
                var target = document.getElementById("tableBody");
                var spinner1 = Spinner({top:"1"}).spin(target);
                axios.get('/apiAllCases/',{
                    params:{
                        pageNum: this.pageNum,
                        pageCount:this.pageCount,
                    }
                })
                    .then(resp =>{
                        console.log(resp.data);
                        this.result = resp.data;
                        this.totalCount = resp.data.totalCount;
                        if((this.totalCount / this.pageCount) > 1){
                            this.pageview = true;
                        }
                        spinner1.spin();
                    }).catch(err=> {
                    console.log('请求失败:' + err.status + ',' + err.statusText);
                });
            },
            getProinfo(){
                axios.get('/projectInfos/')
                    .then(resp =>{
                        console.log(resp.data);
                        this.projectList = resp.data.data.allProjList;
                        this.allModules = resp.data.data.allModuList;
                    }).catch(err=> {
                    console.log('请求失败:' + err.status + ',' + err.statusText);
                })
            },
            delapi(id){
                if (!confirm("确认要删除？")) {
                    window.event.returnValue = false;
                }else {
                    console.log('id=' + id);
                    axios.post('/apidelete/', {
                        params: {
                            aid: id
                        }
                    })
                        .then(resp => {
                            this.result = resp.data;
                            console.log(resp.data);
                            let info = resp.data.info;
                            let code = resp.data.code;
                            if (code === 0) {
                                alert("删除成功");
                                window.location.reload(true);
                            } else {
                                alert("删除失败:" + info);
                            }
                        })
                        .catch(err => {
                            console.log('请求失败:' + err.status + ',' + err.statusText);
                        })
                }
            },
            selectAllBtn(e){
                let checked = e.target.checked;
                console.log(checked);
                let checkDom = this.$refs.tables.getElementsByClassName("selBtn");
                console.log(checkDom);
                if(checked){
                    for(var i=0;i<checkDom.length;i++){
                        checkDom[i].checked=true;
                        let checkvalue = parseInt(checkDom[i].value);
                        console.log(this.dlist.indexOf(checkvalue));
                        if(this.dlist.indexOf(checkvalue) === -1){
                            this.dlist.push(checkvalue);
                        }
                    }
                }else{
                    for(i=0;i<checkDom.length;i++){
                        checkDom[i].checked=false;
                        let index = this.dlist.indexOf(parseInt(checkDom[i].value));
                        if (index > -1) {
                            this.dlist.splice(index, 1);
                        }
                    }
                }
            },
            changeSel(id, e){
                console.log("-------------");
                console.log(id);
                let chev = e.target.checked;
                console.log(chev);
                if(chev === true) {
                    if(this.dlist.indexOf(id) === -1) {
                        this.dlist.push(id);
                    }
                }
                else {
                    let index = this.dlist.indexOf(id);
                        if (index > -1) {
                            this.dlist.splice(index, 1);
                        }
                }
                let checkDom = this.$refs.tables.getElementsByClassName("selBtn");
                console.log(checkDom);
                let vlist = [];
                let sums=0;
                console.log(checkDom.length);
                for(let i=0;i<checkDom.length;i++){
                    vlist[i] = checkDom[i].checked;
                    if(vlist[i]){
                        sums += 1;
                    }
                }
                console.log(vlist);
                console.log(sums);
                if(sums === checkDom.length){
                    return this.$refs.selall.getElementsByClassName("selAllBtn")[0].checked=true;
                }else{
                    return this.$refs.selall.getElementsByClassName("selAllBtn")[0].checked=false;
                }
            },
            batchdel(){
                let dellist = this.dlist;
                console.log("********************");
                console.log(dellist);
                console.log(dellist.length);
                if (dellist.length !== 0) {
                    if (!confirm("删除之后无法恢复，确认要删除？")) {
                        window.event.returnValue = false;
                    }else {
                        axios.post('/batchdel/', {
                            params: {
                                idList: dellist,
                            },
                        })
                            .then(resp => {
                                console.log(resp.data);
                                let code = resp.data.code;
                                let info = resp.data.info;
                                if (code === 0) {
                                    alert("删除成功，结果：" + info);
                                    window.location.reload(true);
                                }else{
                                    alert("删除失败");
                                }
                            })
                            .catch(err => {
                                console.log('请求失败:' + err.status + ',' + err.statusText);
                            })
                    }
                }
            },
            runsingle(id){
                console.log(id);
                let datas = this.result.data;
                console.log(datas);
                let method = "";
                let url = "";
                for(let d=0;d<datas.length;d++) {
                    let did = datas[d].id;
                    console.log("-----------------");
                    console.log(did);
                    if (id === did) {
                        method = datas[d].method;
                        url = datas[d].url;
                        console.log(method, url);
                        break;
                    }
                }
                if (method !== "" && url !== "" && method !== undefined && url !== undefined) {
                    axios.post('/runsingle/', {
                        params: {
                            id: id,
                        },
                    })
                        .then(resp => {
                            console.log(resp.data);
                            let code = resp.data.code;
                            let datas = resp.data.datas;
                            if (code === 0) {
                                alert("执行成功:" + datas);
                            } else {
                                alert("执行失败: " + datas);
                            }
                            window.location.reload(true);
                        })
                        .catch(err => {
                            console.log('请求失败:' + err.status + ',' + err.statusText);
                        })
                } else {
                    alert("请先编辑接口相关参数。");
                }
            },
            batchrun(){
                let runlist = this.dlist;
                if (runlist.length !== 0) {
                    let datas = this.result.data;
                    let method = "";
                    let url = "";
                    let flag = true;
                    for (let i = 0; i < runlist.length; i++) {
                        let rid = runlist[i];
                        for (let d = 0; d < datas.length; d++) {
                            let did = datas[d].id;
                            console.log("-----------------");
                            console.log(did);
                            if (rid === did) {
                                method = datas[d].method;
                                url = datas[d].url;
                                console.log(method, url);
                                break;
                            }
                        }
                        if (method === "" || url === "" || method === undefined || url === undefined) {
                            flag = false;
                            break;
                        }
                    }
                    if (flag) {
                        if (!confirm("是否开始执行？")) {
                            window.event.returnValue = false;
                        } else {
                            axios.post('/batchrun/', {
                                params: {
                                    idList: runlist,
                                    pmName: "批量执行",
                                    reportflag:this.reportflag,
                                },
                            })
                                .then(resp => {
                                    console.log(resp.data);
                                    let code = resp.data.code;
                                    if (code === 0) {
                                        alert("执行结束");
                                        window.location.reload(true);
                                    } else {
                                        alert("执行失败");
                                    }
                                })
                                .catch(err => {
                                    console.log('请求失败:' + err.status + ',' + err.statusText);
                                })
                        }
                    } else {
                        alert("要执行的接口用例有参数不存在的情况,请先编辑。");
                    }
                }
            },
            search(){
                var target = document.getElementById("tableBody");
                var spinner1 = Spinner().spin(target);
                axios.get('/namesearch/', {
                params: {
                    searchinfo:this.searchinfo,
                    moduleName: this.moduleName,
                    projectName: this.projectName,
                },
                })
                .then(resp => {
                    console.log(resp.data);
                    this.result = resp.data;
                    spinner1.spin();
                }).catch(err => {
                    console.log('请求失败:' + err.status + ',' + err.statusText);
                })
            },
            selectPro(e){
                var target = document.getElementById("tableBody");
                var spinner1 = Spinner().spin(target);
                let selProj = e.target.value;
                let allModules = this.allModules;
                if(this.moduleList.length!==0){
                    this.moduleList = [];
                    this.moduleName = "";
                }
                for(let q=0;q<allModules.length;q++){
                    let pname = allModules[q]["projectName"];
                    if(selProj===pname) {
                        this.moduleList.push(allModules[q]["moduleName"]);
                    }
                }
                console.log(this.moduleList);
                axios.get('/searchproj/', {
                    params: {
                        selproj: selProj,
                        searchinfo: this.searchinfo,
                    },
                    })
                    .then(resp => {
                        console.log(resp.data);
                        this.result = resp.data;
                        spinner1.spin();
                    }).catch(err => {
                        console.log('请求失败:' + err.status + ',' + err.statusText);
                    })
            },
            selectModu(e){
                var target = document.getElementById("tableBody");
                var spinner1 = Spinner().spin(target);
                let selModu = e.target.value;
                let selProj = this.projectName;
                console.log(selModu,selProj);
                axios.get('/searchModu/', {
                    params: {
                        selproj: selProj,
                        selmodu:selModu,
                        searchinfo: this.searchinfo,
                    },
                    })
                    .then(resp => {
                        console.log(resp.data);
                        this.result = resp.data;
                        spinner1.spin();
                    }).catch(err => {
                        console.log('请求失败:' + err.status + ',' + err.statusText);
                    })
            },
            viewapi(id){
                var target = document.getElementById("infos");
                var spinner1 = Spinner({top:"1",left:"2"}).spin(target);
                axios.get('/viewapiInfos/', {
                    params: {
                        apiid: id,
                    },
                    })
                    .then(resp => {
                        console.log(resp.data.datas);
                        this.viewapiInfos = resp.data.datas;
                        let viewHeaders = resp.data.datas.header;
                        let viewBodys = resp.data.datas.body;
                        if(viewHeaders.length === 0){
                            this.headers = {};
                        }else{
                            for(let i=0;i<viewHeaders.length;i++){
                                console.log("view_header:", viewHeaders[i]["type"]);
                                this.headers[viewHeaders[i]["type"]] = viewHeaders[i]["value"];
                            }
                        }
                        if(viewBodys.length === 0){
                            this.bodys = {};
                        }else{
                            for(let i=0;i<viewBodys.length;i++){
                                this.bodys[viewBodys[i]["name"]] = viewBodys[i].value;
                            }
                        }
                        console.log("header:", this.headers);
                        console.log("body:", this.bodys);
                        spinner1.spin();
                    }).catch(err => {
                        console.log('请求失败:' + err.status + ',' + err.statusText);
                    })
            },
            addPage(num){
                this.pageNum = num +1;
                if(this.pageNum > 1){
                    this.disflag_left = "";
                }
                let totalNums = this.totalCount / this.pageCount;
                if(this.pageNum >= totalNums){
                    this.disflag_right = "disabled";
                }
                this.result = "";
                this.getlist();
            },
            cutPage(num){
                this.pageNum = num -1;
                if(this.pageNum === 1){
                    this.disflag_left = "disabled";
                }
                let totalNums = this.totalCount / this.pageCount;
                if(this.pageNum < totalNums){
                    this.disflag_right = "";
                }
                this.result = "";
                this.getlist();
            },
        }
    });
    </script>
{% endblock %}
