{% extends 'index.html' %}
{% block title %}<title> 接口场景用例</title> {% endblock %}

{% block content %}
    <div class="col-md-10 row" id="apiCases" style="margin-left: 15%">
        <div class="col-md-5" style="width:90%;margin: 25px;">
            <div class="col-md-1">
                <a href="/singleInterface/addapi/">
                    <button type="button" class="btn btn-primary">新建用例</button>
                </a>
            </div>
            <div class="col-md-6">
                <label class="col-sm-2" style="margin-right: -20px;margin-top: 8px;">选择项目：</label>
                <div class="col-sm-3" style="margin-right: 30px;">
                    <select class="form-control" v-model="projectName" @change="selectPro($event)">
                        <option selected value="">请选择</option>
                        <option  v-for="item in projectList" :value="item">{! item !}</option>
                    </select>
                </div>
                <label class="col-sm-2" style="margin-right: -20px;margin-top: 8px;">选择模块：</label>
                <div class="col-sm-3">
                    <select class="form-control" v-model="moduleName" @change="selectModu($event)">
                        <option selected value="">请选择</option>
                        <option  v-for="item in moduleList" :value="item">{! item !}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4"  id="search" style="float: right;">
                <div class="col-md-8" style="margin-left: 100px;">
                    <input type="text" class="form-control" name="search" v-model="searchinfo"
                            placeholder="请输入搜索接口名称的文本" @change="search()">
                </div>
            </div>
        </div>

        <div style="margin:30px">
            <div class="form-horizontal" role="form" style="margin-right:100px;margin-top: 20px;">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>接口名称</th>
                        <th>上一次执行结果</th>
                        <th>上一次执行时间</th>
                        <th>创建者</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody ref="tables">
                        <tr v-for="(info,index) in result.data">
                            <td><label class="form-check-label">
                                <input type="checkbox" class="selBtn" id="selBtn" v-bind:value="[info.id]" @click="changeSel(info.id, $event)" value="info.id">
                                </label>
                                {! index+1 !}
                            </td>
                            <td>{! info.name !}</td>
                            <td>
                                <p v-if="info.lastrunrslt ===  'null'">无</p>
                                <p v-else-if="info.lastrunrslt === 1">Pass</p>
                                <p v-else>Fail</p>
                            </td>
                            <td>
                                <p v-if="info.lastruntime ===  'null'">无</p>
                                <p v-else>{! info.lastruntime !}</p>
                            </td>
                            <td>{! info.owing !}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary">查看</button>
                                <a v-bind:href="['/singleInterface/editor/?id='+info.id]">
                                        <button type="button" class="btn btn-sm btn-primary">编辑</button>
                                </a>
                                <button type="button" class="btn btn-sm btn-success" @click="runsingle(info.id)">执行</button>
                                <button type="button" class="btn btn-sm btn-danger" @click="delapi(result.data[index].id)">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div ref="selall">
                    <label class="form-check-label">
                        <input type="checkbox" id="selAllBtn" class="selAllBtn" @click="selectAllBtn($event)">
                    </label><span>&nbsp;全选&nbsp;</span>
                    <button type="button" class="btn btn-default btn-sm" id="batchexe"  @click="batchrun()" style="padding: 2px 6px;">批量执行</button>
                    <button type="button" class="btn btn-default btn-sm" id="batchdel"  @click="batchdel()" style="padding: 2px 6px;">批量删除</button>
                </div>
                <div>
                    <label class="form-check-label">
                        <input type="checkbox" v-model="reportflag">
                    </label><span> 批量执行是否生成报告</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block vuejs1 %}
    <script type="text/javascript">
    var proid = "";
    var apilist = new Vue({
        delimiters: ['{!', '!}'],
        el:"#apiCases",
        data:{
            result:'',
            dlist:[],
            projectList:[],
            projectName:"",
            moduleList:[],
            moduleName:"",
            searchinfo : '',
            listid:proid,
            allModules:"",
            reportflag: true,
        },
        created(){
            vm1.$data.isActiveSi = false;
            vm1.$data.isActiveIn = false;
            vm1.$data.isActiveAl = false;
            vm1.$data.isActiveApi = true;
            vm1.$data.isActiveRs = false;
            this.getlist();
            this.getProinfo();
        },
        methods:{
            getlist(){
                axios.get('/apiAllCases/')
                    .then(resp =>{
                        console.log(resp.data);
                        this.result = resp.data;
                    }).catch(err=> {
                    console.log('请求失败:' + err.status + ',' + err.statusText);
                })
            },
            getProinfo(){
                axios.get('/projectInfos/')
                    .then(resp =>{
                        console.log(resp.data);
                        this.projectList = resp.data.data.allProjList;
                        this.allModules = resp.data.data.allModuList;
                    }).catch(err=> {
                    console.log('请求失败:' + err.status + ',' + err.statusText);
                })
            },
            delapi(id){
                if (!confirm("确认要删除？")) {
                    window.event.returnValue = false;
                }else {
                    console.log('id=' + id);
                    axios.post('/apidelete/', {
                        params: {
                            aid: id
                        }
                    })
                        .then(resp => {
                            this.result = resp.data;
                            console.log(resp.data);
                            let info = resp.data.info;
                            let code = resp.data.code;
                            if (code === 0) {
                                alert("删除成功");
                                window.location.reload(true);
                            } else {
                                alert("删除失败:" + info);
                            }
                        })
                        .catch(err => {
                            console.log('请求失败:' + err.status + ',' + err.statusText);
                        })
                }
            },
            selectAllBtn(e){
                let checked = e.target.checked;
                console.log(checked);
                let checkDom = this.$refs.tables.getElementsByClassName("selBtn");
                console.log(checkDom);
                if(checked){
                    for(var i=0;i<checkDom.length;i++){
                        checkDom[i].checked=true;
                        let checkvalue = parseInt(checkDom[i].value);
                        console.log(this.dlist.indexOf(checkvalue));
                        if(this.dlist.indexOf(checkvalue) === -1){
                            this.dlist.push(checkvalue);
                        }
                    }
                }else{
                    for(i=0;i<checkDom.length;i++){
                        checkDom[i].checked=false;
                        let index = this.dlist.indexOf(parseInt(checkDom[i].value));
                        if (index > -1) {
                            this.dlist.splice(index, 1);
                        }
                    }
                }
            },
            changeSel(id, e){
                console.log("-------------");
                console.log(id);
                let chev = e.target.checked;
                console.log(chev);
                if(chev === true) {
                    if(this.dlist.indexOf(id) === -1) {
                        this.dlist.push(id);
                    }
                }
                else {
                    let index = this.dlist.indexOf(id);
                        if (index > -1) {
                            this.dlist.splice(index, 1);
                        }
                }
                let checkDom = this.$refs.tables.getElementsByClassName("selBtn");
                console.log(checkDom);
                let vlist = [];
                let sums=0;
                console.log(checkDom.length);
                for(let i=0;i<checkDom.length;i++){
                    vlist[i] = checkDom[i].checked;
                    if(vlist[i]){
                        sums += 1;
                    }
                }
                console.log(vlist);
                console.log(sums);
                if(sums === checkDom.length){
                    return this.$refs.selall.getElementsByClassName("selAllBtn")[0].checked=true;
                }else{
                    return this.$refs.selall.getElementsByClassName("selAllBtn")[0].checked=false;
                }
            },
            batchdel(){
                let dellist = this.dlist;
                console.log("********************");
                console.log(dellist);
                console.log(dellist.length);
                if (dellist.length !== 0) {
                    if (!confirm("删除之后无法恢复，确认要删除？")) {
                        window.event.returnValue = false;
                    }else {
                        axios.post('/batchdel/', {
                            params: {
                                idList: dellist,
                            },
                        })
                            .then(resp => {
                                console.log(resp.data);
                                let code = resp.data.code;
                                let info = resp.data.info;
                                if (code === 0) {
                                    alert("删除成功，结果：" + info);
                                    window.location.reload(true);
                                }else{
                                    alert("删除失败");
                                }
                            })
                            .catch(err => {
                                console.log('请求失败:' + err.status + ',' + err.statusText);
                            })
                    }
                }
            },
            runsingle(id){
                console.log(id);
                let datas = this.result.data;
                console.log(datas);
                let method = "";
                let url = "";
                for(let d=0;d<datas.length;d++) {
                    let did = datas[d].id;
                    console.log("-----------------");
                    console.log(did);
                    if (id === did) {
                        method = datas[d].method;
                        url = datas[d].url;
                        console.log(method, url);
                        break;
                    }
                }
                if (method !== "" && url !== "" && method !== undefined && url !== undefined) {
                    axios.post('/runsingle/', {
                        params: {
                            id: id,
                        },
                    })
                        .then(resp => {
                            console.log(resp.data);
                            let code = resp.data.code;
                            let datas = resp.data.datas;
                            if (code === 0) {
                                alert("执行成功:" + datas);
                            } else {
                                alert("执行失败: " + datas);
                            }
                            window.location.reload(true);
                        })
                        .catch(err => {
                            console.log('请求失败:' + err.status + ',' + err.statusText);
                        })
                } else {
                    alert("请先编辑接口相关参数。");
                }
            },
            batchrun(){
                let runlist = this.dlist;
                if (runlist.length !== 0) {
                    let datas = this.result.data;
                    let method = "";
                    let url = "";
                    let flag = true;
                    for (let i = 0; i < runlist.length; i++) {
                        let rid = runlist[i];
                        for (let d = 0; d < datas.length; d++) {
                            let did = datas[d].id;
                            console.log("-----------------");
                            console.log(did);
                            if (rid === did) {
                                method = datas[d].method;
                                url = datas[d].url;
                                console.log(method, url);
                                break;
                            }
                        }
                        if (method === "" || url === "" || method === undefined || url === undefined) {
                            flag = false;
                            break;
                        }
                    }
                    if (flag) {
                        if (!confirm("是否开始执行？")) {
                            window.event.returnValue = false;
                        } else {
                            axios.post('/batchrun/', {
                                params: {
                                    idList: runlist,
                                    pmName: "批量执行",
                                    reportflag:this.reportflag,
                                },
                            })
                                .then(resp => {
                                    console.log(resp.data);
                                    let code = resp.data.code;
                                    if (code === 0) {
                                        alert("执行结束");
                                        window.location.reload(true);
                                    } else {
                                        alert("执行失败");
                                    }
                                })
                                .catch(err => {
                                    console.log('请求失败:' + err.status + ',' + err.statusText);
                                })
                        }
                    } else {
                        alert("要执行的接口用例有参数不存在的情况,请先编辑。");
                    }
                }
            },
            search(){
                    axios.get('/namesearch/', {
                    params: {
                        searinfo:this.searchinfo,
                    },
                    })
                    .then(resp => {
                        console.log(resp.data);
                        this.result = resp.data;
                    }).catch(err => {
                        console.log('请求失败:' + err.status + ',' + err.statusText);
                    })
            },
            selectPro(e){
             let selProj = e.target.value;
             let allModules = this.allModules;
             if(this.moduleList.length!==0){
                 this.moduleList = [];
                 this.moduleName = ""
             }
             for(let q=0;q<allModules.length;q++){
                 let pname = allModules[q]["projectName"];
                 if(selProj===pname) {
                     this.moduleList.push(allModules[q]["moduleName"]);
                 }
             }
             console.log(this.moduleList);
             axios.get('/searchproj/', {
                    params: {
                        selproj: selProj,
                    },
                    })
                    .then(resp => {
                        console.log(resp.data);
                        this.result = resp.data;
                    }).catch(err => {
                        console.log('请求失败:' + err.status + ',' + err.statusText);
                    })
            },
            selectModu(e){
                let selModu = e.target.value;
                let selProj = this.projectName;
                console.log(selModu,selProj);
                axios.get('/searchModu/', {
                    params: {
                        selproj: selProj,
                        selmodu:selModu,
                    },
                    })
                    .then(resp => {
                        console.log(resp.data);
                        this.result = resp.data;
                    }).catch(err => {
                        console.log('请求失败:' + err.status + ',' + err.statusText);
                    })
            },
        }
    });
    </script>
{% endblock %}
