{% extends 'index.html' %}
{% block title %}<title> 接口场景用例</title> {% endblock %}

{% block content %}
    <div class="col-md-10 row" id="apiinfopage" style="margin-left: 15%">
    <ul class="breadcrumb">
        <li><a href="/index/">首页</a></li>
        <li><a href="/projectList/">接口列表</a></li>
        <li class="active" id="path">{! pname !}_{! mname !}</li>
    </ul>
    <div class="col-md-4" style="width:100%;">
        <div style="display:inline-block;float: left;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newapi">新建用例</button>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="newapi" tabindex="-1" role="dialog" aria-labelledby="newapiLabel" aria-hidden="true">
            <div class="modal-dialog">
                    <div class="modal-content" id="newinfo">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="newapiLabel">
                                新建接口用例
                            </h4>
                        </div>

                        <div class="modal-body">
                            <label for="apiName">接口名称：</label>
                            <input type="text" class="form-control" id="apiName" v-model="newname"
                                placeholder="请输入...">
                            <label for="apiListName">所属接口列表：</label>
                            <input v-model="pname" class="form-control" id="apiListName" disabled="disabled">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <input type="submit" class="btn btn-primary" @click="addapi()" data-dismiss="modal"/>
                        </div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div id="batch" style="display:inline-block;">
                <button type="button" class="btn btn-primary" id="batchsel" @click="batchrun()">批量操作</button>
            </div>
        </div>
        <div class="navbar-form navbar-left" style="margin-top: 0px;" id="search">
            <div class="form-group">
                <input type="text" class="form-control" name="search" v-model="searchinfo"
                    placeholder="请输入搜索文本">
            </div>
            <button type="submit" class="btn btn-default" @click="search()">搜索</button>
        </div>
        <div style="display:inline-block;float: right;">
            <div class="container-fluid" id="envrionment">
                <select v-model="selected" name="envrionment">
                    <option value="">选择环境</option>
                    <option value="qa">QA</option>
                    <option value="stage">Stage</option>
                </select>
            </div>
        </div>
    </div>

    <div id="start">
        <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>序号</th>
                <th>接口名称</th>
                <th>操作</th>
                <th>上一次执行结果</th>
                <th>上一次执行时间</th>
                <th>创建者</th>
            </tr>
            </thead>
            <tbody ref="tables">
                <tr v-for="(info,index) in result.data">
                    <td><label class="form-check-label" v-if="seen">
                        <input type="checkbox" class="selBtn" id="selBtn" v-bind:value="[info.id]" @click="changeSel(info.id, $event)" value="info.id">
                        </label>
                        {! index+1 !}
                    </td>
                    <td>{! info.name !}</td>
                    <td>
                        <a v-bind:href="['/singleInterface/editor/?id='+info.id]">
                                <button type="button" class="btn btn-primary">查看编辑</button>
                        </a>
                        <button type="button" class="btn btn-primary" @click="runsingle(info.id)">执行</button>
                        <button type="button" class="btn btn-danger" @click="delapi(result.data[index].id)">删除</button>
                    </td>
                    <td>
                        <p v-if="info.lastrunrslt ===  'null'">无</p>
                        <p v-else-if="info.lastrunrslt === 1">Pass</p>
                        <p v-else>Fail</p>
                    </td>
                    <td>
                        <p v-if="info.lastruntime ===  'null'">无</p>
                        <p v-else>{! info.lastruntime !}</p>
                    </td>
                    <td>{! info.owing !}</td>
                </tr>
            </tbody>
        </table>
        </div>
        <div v-if="seen" ref="selall">
            <label class="form-check-label" v-if="seen">
                <input type="checkbox" id="selAllBtn" class="selAllBtn" @click="selectAllBtn($event)">
            </label><span>&nbsp;全选&nbsp;</span>
            <button type="button" class="btn btn-default btn-sm" id="batchexe" v-if="seen" @click="batchrun()" style="padding: 2px 6px;">批量执行</button>
            <button type="button" class="btn btn-default btn-sm" id="batchdel" v-if="seen" @click="batchdel()" style="padding: 2px 6px;">批量删除</button>
        </div>
    </div>
    </div>
{% endblock %}

{% block vuejs1 %}
    <script type="text/javascript">
    var proid = "";
    var apilist = new Vue({
        delimiters: ['{!', '!}'],
        el:"#start",
        data:{
            result:'',
            seen:false,
            dlist:[],
        },
        created(){
            let id=this.getparam('pid');
            proid = id;
            this.getlist(id);
            vm1.$data.isActiveSi = false;
            vm1.$data.isActiveIn = false;
            vm1.$data.isActiveAl = true;
        },
        methods:{
            getlist(id){
                axios.get('/apiInfo/',{
                    params: {
                        pid:id
                    }
                })
                    .then(resp =>{
                        console.log(resp.data);
                        this.result = resp.data;
                    }).catch(err=> {
                    console.log('请求失败:' + err.status + ',' + err.statusText);
                })
            },
            getparam(str){
                var argsstr = location.search.substr(1);
                var param={};
                console.log(argsstr);
                if(argsstr !== ""){
                    var strs = argsstr.split("&");
                    for(var i = 0; i < strs.length; i++) {
                         param[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
                    }
                }
                return param[str];
            },
            delapi(id){
                if (!confirm("确认要删除？")) {
                    window.event.returnValue = false;
                }else {
                    console.log('id=' + id);
                    axios.post('/apidelete/', {
                        params: {
                            aid: id
                        }
                    })
                        .then(resp => {
                            this.result = resp.data;
                            console.log(resp.data);
                            let info = resp.data.info;
                            let code = resp.data.code;
                            if (code === 0) {
                                alert("删除成功");
                                window.location.reload(true);
                            } else {
                                alert("删除失败:" + info);
                            }
                        })
                        .catch(err => {
                            console.log('请求失败:' + err.status + ',' + err.statusText);
                        })
                }
            },
            selectAllBtn(e){
                let checked = e.target.checked;
                console.log(checked);
                let checkDom = this.$refs.tables.getElementsByClassName("selBtn");
                console.log(checkDom);
                if(checked){
                    for(var i=0;i<checkDom.length;i++){
                        checkDom[i].checked=true;
                        let checkvalue = parseInt(checkDom[i].value);
                        console.log(this.dlist.indexOf(checkvalue));
                        if(this.dlist.indexOf(checkvalue) === -1){
                            this.dlist.push(checkvalue);
                        }
                    }
                }else{
                    for(i=0;i<checkDom.length;i++){
                        checkDom[i].checked=false;
                        let index = this.dlist.indexOf(parseInt(checkDom[i].value));
                        if (index > -1) {
                            this.dlist.splice(index, 1);
                        }
                    }
                }
            },
            changeSel(id, e){
                console.log("-------------");
                console.log(id);
                let chev = e.target.checked;
                console.log(chev);
                if(chev === true) {
                    if(this.dlist.indexOf(id) === -1) {
                        this.dlist.push(id);
                    }
                }
                else {
                    let index = this.dlist.indexOf(id);
                        if (index > -1) {
                            this.dlist.splice(index, 1);
                        }
                }
                let checkDom = this.$refs.tables.getElementsByClassName("selBtn");
                console.log(checkDom);
                let vlist = [];
                let sums=0;
                console.log(checkDom.length);
                for(let i=0;i<checkDom.length;i++){
                    vlist[i] = checkDom[i].checked;
                    if(vlist[i]){
                        sums += 1;
                    }
                }
                console.log(vlist);
                console.log(sums);
                if(sums === checkDom.length){
                    return this.$refs.selall.getElementsByClassName("selAllBtn")[0].checked=true;
                }else{
                    return this.$refs.selall.getElementsByClassName("selAllBtn")[0].checked=false;
                }
            },
            batchdel(){
                let dellist = this.dlist;
                console.log("********************");
                console.log(dellist);
                console.log(dellist.length);
                if (dellist.length !== 0) {
                    if (!confirm("删除之后无法恢复，确认要删除？")) {
                        window.event.returnValue = false;
                    }else {
                        axios.post('/batchdel/', {
                            params: {
                                idList: dellist,
                            },
                        })
                            .then(resp => {
                                console.log(resp.data);
                                let code = resp.data.code;
                                let info = resp.data.info;
                                if (code === 0) {
                                    alert("测试环境做的假删除，结果：" + info);
                                    window.location.reload(true);
                                }else{
                                    alert("删除失败");
                                }
                            })
                            .catch(err => {
                                console.log('请求失败:' + err.status + ',' + err.statusText);
                            })
                    }
                }
            },
            runsingle(id){
                console.log(id);
                let datas = this.result.data;
                console.log(datas);
                let method = "";
                let url = "";
                for(let d=0;d<datas.length;d++) {
                    let did = datas[d].id;
                    console.log("-----------------");
                    console.log(did);
                    if (id === did) {
                        method = datas[d].method;
                        url = datas[d].url;
                        console.log(method, url);
                        break;
                    }
                }
                if (method !== "" && url !== "" && method !== undefined && url !== undefined) {
                    axios.post('/runsingle/', {
                        params: {
                            id: id,
                        },
                    })
                        .then(resp => {
                            console.log(resp.data);
                            let code = resp.data.code;
                            let datas = resp.data.datas;
                            if (code === 0) {
                                alert("执行成功:" + datas);
                                window.location.reload(true);
                            } else {
                                alert("执行失败: " + datas);
                            }
                        })
                        .catch(err => {
                            console.log('请求失败:' + err.status + ',' + err.statusText);
                        })
                } else {
                    alert("请先编辑接口相关参数。");
                }
            },
            batchrun(){
                let runlist = this.dlist;
                if (runlist.length !== 0) {
                    let datas = this.result.data;
                    let method = "";
                    let url = "";
                    let flag = true;
                    for (let i = 0; i < runlist.length; i++) {
                        let rid = runlist[i];
                        for (let d = 0; d < datas.length; d++) {
                            let did = datas[d].id;
                            console.log("-----------------");
                            console.log(did);
                            if (rid === did) {
                                method = datas[d].method;
                                url = datas[d].url;
                                console.log(method, url);
                                break;
                            }
                        }
                        if (method === "" || url === "" || method === undefined || url === undefined) {
                            flag = false;
                            break;
                        }
                    }
                    if (flag) {
                        if (!confirm("是否开始执行？")) {
                            window.event.returnValue = false;
                        } else {
                            axios.post('/batchrun/', {
                                params: {
                                    idList: runlist,
                                },
                            })
                                .then(resp => {
                                    console.log(resp.data);
                                    let code = resp.data.code;
                                    if (code === 0) {
                                        alert("执行结束");
                                        window.location.reload(true);
                                    } else {
                                        alert("执行失败");
                                    }
                                })
                                .catch(err => {
                                    console.log('请求失败:' + err.status + ',' + err.statusText);
                                })
                        }
                    } else {
                        alert("要执行的接口用例有参数不存在的情况。");
                    }
                }
            },
        }
    });

    var env = new Vue({
        el:'#envrionment',
        data:{
            selected:''
        }
    });

    var path = new Vue({
        delimiters: ['{!', '!}'],
        el:"#path",
        data:{
            pid: proid,
            pname:'',
            mname:'',
        },
        mounted() {
            axios.get('/getlistpath/',{
                params:{
                    id : this.pid,
                }
            })
                .then(resp => {
                    console.log(resp.data);
                    let result = resp.data;
                    this.pname = result.data[0].projectName;
                    this.mname = result.data[0].moduleName;
                    ninfo.$data.pname = this.pname+"_"+this.mname;
                }).catch(err => {
                    console.log('请求失败:' + err.status + ',' + err.statusText);
                })
        }

    });
    let ninfo = new Vue({
        delimiters: ['{!', '!}'],
        el:"#newinfo",
        data:{
            pid:proid,
            newname:"",
            username:'',
            result:"",
            pname: "",
        },
        methods: {
            getCookie(cname){
                var name = cname + "=";
                var ca = document.cookie.split(';');
                console.log(ca);
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    var key = c.split("=")[0];
                    if(cname===key){
                        let cookie_value = c.split("=")[1];
                        return cookie_value
                    }
                }
                return "";
            },
            addapi() {
                var username = this.getCookie("usename");
                console.log(username);
                console.log("username:");
                if((username !== "") && (username !== null)){
                    axios.post('/addApi/', {
                        params: {
                            listid: this.pid,
                            apiname: this.newname,
                            user: username,
                        }
                    })
                        .then(resp => {
                            console.log(resp.data);
                            this.result = resp.data;
                            let code = resp.data.code;
                            let info = resp.data.info;
                            if (code === 0) {
                                alert("提交成功");
                                window.location.reload(true);
                            } else {
                                alert("提交失败:" + info);
                            }
                        }).catch(err => {
                        console.log('请求失败:' + err.status + ',' + err.statusText);
                    })
                }else{
                    alert("请先登录")
                }
            }
        }
    });
    let batchrun = new Vue({
        delimiters: ['{!', '!}'],
        el:"#batch",
        data:{
            changeseen:true,
        },
        methods: {
            batchrun(){
                apilist.seen = this.changeseen;
                this.changeseen = !this.changeseen
            },

        }
    });
    let search = new Vue({
        delimiters: ['{!', '!}'],
        el:"#search",
         data:{
             searchinfo : '',
             listid:proid,
        },
        methods: {
            search(){
                    axios.get('/searchinfo/', {
                    params: {
                        listid: this.listid,
                        searinfo:this.searchinfo,
                    },
                    })
                    .then(resp => {
                        console.log(resp.data);
                        apilist.$data.result = resp.data;
                    }).catch(err => {
                        console.log('请求失败:' + err.status + ',' + err.statusText);
                    })
            }
        }
    });
    </script>
{% endblock %}
