{% extends 'basemain.html' %}
{% block title %}<title> 接口场景用例</title> {% endblock %}
{% block content %}
    <div>
        <h1>自动化测试用例</h1>
    </div>
    <ul class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="/list/">API自动化项目列表</a></li>
        <li class="active" id="path">{! pid !}</li>
    </ul>

    <div class="col-md-4" style="width:100%;">
        <div style="display:inline-block;float: left;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newapi">新建用例</button>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="newapi" tabindex="-1" role="dialog" aria-labelledby="newapiLabel" aria-hidden="true">
            <div class="modal-dialog">
                    <div class="modal-content" id="newinfo">
                        <div class="modal-header" style="margin-top: 60px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="newapiLabel">
                                新建接口用例
                            </h4>
                        </div>

                        <div class="modal-body">
                            <label for="apiName">接口名称：</label>
                            <input type="text" class="form-control" id="apiName" v-model="newname"
                                placeholder="请输入...">
                            <p>newname: {! newname !}</p>
                            <label for="apiListName">所属列表：</label>
                            <input v-model="pid" class="form-control" id="apiListName" disabled="disabled">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <input type="submit" class="btn btn-primary" @click="addapi()" data-dismiss="modal"/>
                        </div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <button type="button" class="btn btn-primary">批量执行</button>
        </div>
        <form class="navbar-form navbar-left" role="search">
						<div class="form-group">
                            <input type="text" class="form-control" name="search"
                    placeholder="请输入搜索文本">
						</div> <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div style="display:inline-block;float: right;">
            <div class="container-fluid" id="envrionment">
                <select v-model="selected" name="envrionment">
                    <option value="">选择环境</option>
                    <option value="qa">QA</option>
                    <option value="stage">Stage</option>
                </select>
            </div>
        </div>
    </div>

    <div id="start">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>序号</th>
                <th>接口说明</th>
                <th>操作</th>
                <th>上一次执行结果</th>
                <th>上一次执行时间</th>
                <th>创建者</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="(info,index) in result.data">
                    <td>{! index+1 !}</td>
                    <td>{! info.name !}</td>
                    <td>
                        <button type="button" class="btn btn-primary">编辑</button>
                        <button type="button" class="btn btn-primary">执行</button>
                        <button type="button" class="btn btn-primary">删除</button>
                    </td>
                    <td>
                        <p v-if="info.lastrunrslt ===  'null'">无</p>
                        <p v-else-if="info.lastrunrslt === true">Pass</p>
                        <p v-else>Fail</p>
                    </td>
                    <td>
                        <p v-if="info.lastruntime ===  'null'">无</p>
                        <p v-else>{! info.lastruntime !}</p>
                    </td>
                    <td>{! info.owing !}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block vuejs %}
<script type="text/javascript">
var proid = "";
var apilist = new Vue({
    delimiters: ['{!', '!}'],
    el:"#start",
    data:{
        result:'',
    },
    created(){
        var id=this.getparam('pid');
        proid = id;
        console.log(proid);
        this.getlist(id);
    },
    methods:{
        getlist(id){
            axios.get('/apiInfo/',{
                params: {
                    pid:id
                }
            })
                .then(resp =>{
                    console.log(resp.data);
                    this.result = resp.data;
                }).catch(err=> {
                console.log('请求失败:' + err.status + ',' + err.statusText);
            })
        },
        getparam(str){
            var argsstr = location.search.substr(1);
            var param={};
            console.log(argsstr);
            if(argsstr !== ""){
                var strs = argsstr.split("&");
                for(var i = 0; i < strs.length; i++) {
                     param[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
                }
            }
            return param[str];
        },
        delapi(id){
            axios.post('/apidelete/',{
                params:{
                    aid: id
                }
            })
                .then(resp =>{
                    this.result = resp.data;
                    console.log(resp.data);
                    let info = resp.data.info;
                    if(code === 0){
                        alert("删除成功");
                        window.location.reload(true);
                    }else{
                        alert("删除失败:" + info);
                    }
                })
                .catch(err=>{
                    console.log('请求失败:' + err.status + ',' + err.statusText);
                })
        },
    }
});

var env = new Vue({
    el:'#envrionment',
    data:{
        selected:''
    }
});

var path = new Vue({
    delimiters: ['{!', '!}'],
    el:"#path",
    data:{
        pid: proid,
    }

});
let ninfo = new Vue({
    delimiters: ['{!', '!}'],
    el:"#newinfo",
    data:{
        pid:proid,
        newname:"",
        username:'alina',
        result:""
    },
    methods: {
        addapi() {
            axios.post('/addApi/', {
                params: {
                    listid: this.pid,
                    apiname: this.newname,
                    user:this.username
                }
            })
                .then(resp => {
                    console.log(resp.data);
                    this.result = resp.data;
                    let code = resp.data.code;
                    let info = resp.data.info;
                    if(code === 0){
                        alert("提交成功");
                        window.location.reload(true);
                    }else{
                        alert("提交失败:" + info);
                    };
                }).catch(err => {
                console.log('请求失败:' + err.status + ',' + err.statusText);
            })
        }
    }
});

</script>
{% endblock %}
