<!DOCTYPE HTML>
<html>
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/static/css/myCss.css" rel="stylesheet">
    <link href="/static/css/singleCss.css" rel="stylesheet">
    <!--<script src="/static/js/jquery.min.js"></script>-->
    <!--<script src="/static/js/bootstrap.min.js"></script>-->
    <link href="https://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/axios.js"></script>
    <script src="/static/js/vue-router.js"></script>
    {% block title %}
    <title> My First Title</title>
    {% endblock %}
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
</head>
<body>
    <div style="margin-top: 100px;margin-left: 120px;margin-right: 120px;">
        <div id ="app" class="navbar-fixed-top" style="background-color: #428bca;text-align: center" >
            <div class="col-md-4"></div>
            <div class="col-md-4"><h3 style="color: white">自动化接口系统</h3></div>
            <div v-if="status === 'success'" class="col-md-4" >
                <a href="/"><span  style="color: white;line-height: 60px;">当前用户：{! login_user !}</span></a>&nbsp&nbsp&nbsp
                <a href="/logout/"><span style="color: white;line-height: 60px;" >退出</span></a>
            </div>
            <div v-else class="col-md-4">
                <a href="/login/"><span style="color: white;line-height: 60px;" >登录</span></a> &nbsp&nbsp&nbsp
                <a href="/register/"><span style="color: white;line-height: 60px;">注册</span></a>
            </div>
        </div>
        <div class="row" style="padding-left:100px;padding-right: 100px;" >
            <div class="col-md-2 " id="app2">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" v-bind:class="{active:isActiveIn}" ><a href="/index/">首页</a></li>
                    <li role="presentation" v-bind:class="{active:isActiveSi}" ><a
                         href="/singleInterface/" >单接口</a></li>
                    <li role="presentation" v-bind:class="{active:isActiveAl}"  ><a
                    href="/yyBroke/wm">接口list</a></li>
                </ul>
            </div>
            <div class="col-md-10 row" id="app3" >
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
<script type="text/javascript">
var vm = new Vue({
    delimiters: ['{!', '!}'],
    el:'#app',
    data:{
        login_user:"",
        status:"",
        isActiveIn:"",
        isActiveSi:"",
        isActiveAl:""

    },
    created(){
        this.getUsername();
        this.isactive()
    },
    methods:{
          //获取cookie
        getCookie(cname){
            var name = cname + "=";
            var ca = document.cookie.split(';');
            console.log(ca);
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                console.log(c);
                var key = c.split("=")[0];
                if(cname===key){
                    let cookie_value = c.split("=")[1];
                    return cookie_value
                }
            }
        return "";
      },
        //赋值username
        getUsername(){
            var usename = this.getCookie("usename");
            console.log(usename);
            if (usename===""){
                this.status = ""
            }else{
                this.status="success";
                this.login_user = usename;
            }
            console.log(this.status);
        },
        //样式绑定
        isactive(){
            var url = window.location.href;
            console.log(url);
            if (url.indexOf("index")>=0){
                this.isActiveIn = true
            }else if(url.indexOf("singleInterface")){
                this.isActiveSi=true
            }else {
                this.isActiveAl=true
            }
        },
    }
})
</script>
<script type="text/javascript">
var vm = new Vue({
    delimiters: ['{!', '!}'],
    el:'#app2',
    data:{
        login_user:"",
        status:"",
        isActiveIn:"",
        isActiveSi:"",
        isActiveAl:""

    },
    created(){
        this.isactive()
    },
    methods:{
        //样式绑定
        isactive(){
            var url = window.location.href;
            console.log(url);
            if (url.indexOf("index")>=0){
                this.isActiveIn = true
            }else if(url.indexOf("singleInterface")){
                this.isActiveSi=true
            }else {
                this.isActiveAl=true
            }
        },
    }
})
</script>
{% block vuejs %}
{% endblock %}
</body>
</html>