{% extends 'index.html' %}
{% block title %}
    <title xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"> 项目信息 </title>
    <style type="text/css">
        .customButton {
            background-color: #428bca;
            color: white;
            font-size: 40px;
            width: 300px;
            height: 180px;
            margin: 20px;
        }

        .createProjectButton {
            background-color: grey;
            color: lightgrey;
            font-size: 40px;
            width: 300px;
            height: 180px;
            margin: 20px;
        }
    </style>
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="col-md-10 row" id="projectList" style="margin-left: 15%;">
        <ul class="breadcrumb">
            <li><a href="/index/">首页</a></li>
            <li><a href="/firstProjectList/">项目管理</a></li>
        </ul>

        <div class="row" id="row" style="margin: auto;justify-content:center;align-items: center;">
            <div v-for="item in list" class="col-lg-4 col-md-6 col-sm-6" style="text-align:center;">
                <button type="button" class="customButton" @click="moduleInfo(item)"
                        v-bind:style="{ visibility: isHidden }">
                    {! item !}
                </button>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6" style="text-align:center;">
                <button type="button" class="createProjectButton" v-bind:style="{ visibility: isHidden }">
                    新建
                </button>
            </div>

        </div>
    </div>
{% endblock %}
</div>
</div>
<div class="col-md-4"></div>

{% block vuejs1 %}

    <script type="text/javascript">
        var vm2 = new Vue({
            delimiters: ['{!', '!}'],
            el: '#projectList',

            data() {
                projectBatchDelete = true;
                return {
                    isHidden: 'hidden',
                    projectName: '',
                    moduleName: '',
                    host: '',
                    projectNameNew: '',
                    moduleNameNew: '',
                    hostNew: '',
                    file: '',
                    list: [],
                    checkedDelete: [],
                };
            },
            created() {
                vm1.$data.isActiveSi = false;
                vm1.$data.isActiveIn = false;
                vm1.$data.isActiveAl = true;
                vm1.$data.isActiveCo = false;
                vm1.$data.isActiveRs = false;
                vm1.$data.isActiveApi = false;
            },
            mounted() {
                var target = document.getElementById("row");
                var spinner = Spinner({top: '1'}).spin(target);

                axios
                    .get('/firstProjectListInfo/')
                    .then(resp => {
                        this.list = resp.data.data;
                        spinner.spin();
                        console.log(this.list);
                        this.isHidden = 'visible';
                    }).catch(err => {
                    console.log('请求失败:' + err.status + ',' + err.statusText);
                })
            },
            methods: {
                moduleInfo(projectName) {
                    window.location.href = '/projectList?projectName=' + projectName;
                },
            }
        })
    </script>

    <script language="javascript">
        function delcfm() {
            if (!confirm("确认要删除？")) {
                projectBatchDelete = false;
                window.event.returnValue = false;
            } else {
                projectBatchDelete = true;
                window.event.returnValue = true;
            }
        }
    </script>

{% endblock %}
