{% extends 'index.html' %}
{% block title %}
    <title> 项目信息 </title>
    <style type="text/css">
        .customButton {
            background-color: #428bca;
            color: white;
            font-size: 40px;
            width: 30%;
            height: 180px;
            margin: 40px;
        }
    </style>
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="col-md-10 row" id="projectList" style="margin-left: 15%;height: 100%;position: fixed;">
        <ul class="breadcrumb">
            <li><a href="/index/">首页</a></li>
            <li><a href="/firstProjectList/">项目管理</a></li>
        </ul>

        <div class="row" style="margin: auto;justify-content:center;display:flex;align-items: center;height: 50%;">

            <button type="button" class="customButton">
                编辑
            </button>
            <button type="button" class="customButton">
                编辑
            </button>
            <button type="button" class="customButton">
                编辑
            </button>

        </div>
    </div>
{% endblock %}
</div>
</div>
<div class="col-md-4"></div>

{% block vuejs1 %}

    <script type="text/javascript">
        var vm2 = new Vue({
            delimiters: ['{!', '!}'],
            el: '#projectList',

            data() {
                projectBatchDelete = true;
                return {
                    projectName: '',
                    moduleName: '',
                    host: '',
                    projectNameNew: '',
                    moduleNameNew: '',
                    hostNew: '',
                    file: '',
                    list: [],
                    checkedDelete: [],
                };
            },
            created() {
                vm1.$data.isActiveSi = false;
                vm1.$data.isActiveIn = false;
                vm1.$data.isActiveAl = true;
                vm1.$data.isActiveCo = false;
                vm1.$data.isActiveRs = false;
                vm1.$data.isActiveApi = false;
            },
            mounted() {
                var target = document.getElementById("row");
                var spinner = Spinner({top: '1'}).spin(target);

                axios
                    .get('/projectListInfo/')
                    .then(resp => {
                        this.list = resp.data.data;
                        spinner.spin();
                        console.log(this.list);
                    }).catch(err => {
                    console.log('请求失败:' + err.status + ',' + err.statusText);
                })
            },
            methods: {
                projectBatchDelete() {
                    var target = document.getElementById("row");
                    var spinner = Spinner({top: '1'}).spin(target);

                    console.log(projectBatchDelete);
                    if (projectBatchDelete) {
                        axios.post('/projectBatchDelete/', {
                            params: {
                                idDelete: this.checkedDelete
                            }
                        }).then(resp => {
                                alert(resp.data.info);
                            }
                        ).then(
                            () => {
                                axios
                                    .get('/projectListInfo/')
                                    .then(resp => {
                                        this.list = resp.data.data;
                                        spinner.spin();
                                        console.log(resp.data);
                                    }).catch(err => {
                                    console.log('请求失败:' + err.status + ',' + err.statusText);
                                });
                                this.checkedDelete = [];
                            });
                    }
                },

                projectDelete(id) {
                    if (!confirm("确认要删除？")) {
                        window.event.returnValue = false;
                    } else {
                        var target = document.getElementById("row");
                        var spinner = Spinner({top: '1'}).spin(target);

                        axios.get('/projectDelete?id=' + id)
                            .then(resp => {
                                    alert(resp.data.info);
                                }
                            ).then(
                            () => {
                                axios
                                    .get('/projectListInfo/')
                                    .then(resp => {
                                        this.list = resp.data.data;
                                        spinner.spin();
                                        console.log(resp.data);
                                    }).catch(err => {
                                    console.log('请求失败:' + err.status + ',' + err.statusText);
                                });
                                this.checkedDelete = [];
                            });
                    }
                },

                selectAll() {
                    axios
                        .get('/projectListInfo/')
                        .then(resp => {
                            this.list = resp.data.data;
                            console.log(resp.data);
                        }).catch(err => {
                        console.log('请求失败:' + err.status + ',' + err.statusText);
                    });
                    this.checkedDelete = [];
                    temp = [];
                    for (x in this.list) {
                        temp.push(this.list[x].id);
                        this.checkedDelete.push(temp);
                        temp = [];
                    }
                },

                selectNone() {
                    axios
                        .get('/projectListInfo/')
                        .then(resp => {
                            this.list = resp.data.data;
                            console.log(resp.data);
                        }).catch(err => {
                        console.log('请求失败:' + err.status + ',' + err.statusText);
                    });
                    this.checkedDelete = [];
                },

                getFile(event) {
                    this.file = event.target.files[0];
                },

                submitForm(event) {
                    if (this.projectName === '' || this.moduleName === '' || this.host === '' || this.file === '') {
                        alert('请输入所有字段！');
                    } else {
                        var target = document.getElementById("importProjectRow");
                        var spinner = Spinner().spin(target);

                        event.preventDefault();
                        let formData = new FormData();
                        formData.append('projectName', this.projectName);
                        formData.append('moduleName', this.moduleName);
                        formData.append('host', this.host);
                        formData.append('file', this.file);

                        let config = {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        };

                        axios
                            .post('/projectImport/', formData, config)
                            .then(resp => {
                                    spinner.spin();
                                    {#设置为当模态框完全隐藏时，激活弹窗的功能#}
                                    if (resp.data.code === 0) {
                                        alert(resp.data.info);
                                        {#$('#importProject').hide();#}
                                        {#$('.modal-backdrop').hide();#}
                                        $('#importProject').modal('hide');
                                        Object.assign(this.$data, this.$options.data());
                                        this.$refs.inputFile.value = '';
                                    } else {
                                        alert(resp.data.info);
                                    }
                                }
                            )
                            .then(
                                () => {
                                    var target2 = document.getElementById("row");
                                    var spinner2 = Spinner({top: '1'}).spin(target2);
                                    axios
                                        .get('/projectListInfo/')
                                        .then(resp => {
                                            spinner2.spin();
                                            this.list = resp.data.data;
                                            console.log(resp.data);
                                        }).catch(err => {
                                        console.log('请求失败:' + err.status + ',' + err.statusText);
                                    });
                                    this.checkedDelete = [];
                                });
                    }
                }
                ,

                submitFormNew(event) {
                    if (this.projectNameNew === '' || this.moduleNameNew === '' || this.hostNew === '') {
                        alert('请输入所有字段！');

                    } else {
                        var target = document.getElementById("newProjectRow");
                        var spinner = Spinner().spin(target);

                        event.preventDefault();
                        let formData = new FormData();
                        formData.append('projectName', this.projectNameNew);
                        formData.append('moduleName', this.moduleNameNew);
                        formData.append('host', this.hostNew);

                        let config = {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        };

                        axios
                            .post('/addProjectList/', formData, config)
                            .then(resp => {
                                    spinner.spin();
                                    {#设置为当模态框完全隐藏时，激活弹窗的功能#}
                                    if (resp.data.code === 0) {
                                        alert(resp.data.info);
                                        {#$('#importProject').hide();#}
                                        {#$('.modal-backdrop').hide();#}
                                        $('#newProject').modal('hide');
                                        Object.assign(this.$data, this.$options.data());
                                        this.$refs.inputFile.value = '';
                                    } else {
                                        alert(resp.data.info);
                                    }
                                }
                            )
                            .then(
                                () => {
                                    var target2 = document.getElementById("row");
                                    var spinner2 = Spinner({top: '1'}).spin(target2);

                                    axios
                                        .get('/projectListInfo/')
                                        .then(resp => {
                                            spinner2.spin();
                                            this.list = resp.data.data;
                                            console.log(resp.data);
                                        }).catch(err => {
                                        console.log('请求失败:' + err.status + ',' + err.statusText);
                                    });
                                    this.checkedDelete = [];
                                });

                    }
                }
                ,

                editForm(event, id) {
                    var idEdit = id;
                    var projectNameEdit = document.getElementById("projectNameEdit" + id).value;
                    var moduleNameEdit = document.getElementById("moduleNameEdit" + id).value;
                    var hostEdit = document.getElementById("hostEdit" + id).value;
                    if (idEdit === '' || projectNameEdit === '' || moduleNameEdit === '' || hostEdit === '') {
                        alert('请输入所有字段！');
                    } else {
                        var target = document.getElementById("editProjectRow" + idEdit);
                        var spinner = Spinner().spin(target);

                        event.preventDefault();
                        let formData = new FormData();
                        formData.append('id', idEdit);
                        formData.append('projectName', projectNameEdit);
                        formData.append('moduleName', moduleNameEdit);
                        formData.append('host', hostEdit);

                        let config = {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        };
                        var target2 = document.getElementById("row");
                        var spinner2 = new Spinner({top: '1'});
                        axios
                            .post('/projectEdit/', formData, config)
                            .then(resp => {
                                    spinner.spin();
                                    {#设置为当模态框完全隐藏时，激活弹窗的功能#}
                                    if (resp.data.code === 0) {
                                        alert(resp.data.info);
                                        {#$('#importProject').hide();#}
                                        {#$('.modal-backdrop').hide();#}
                                        $('#editProject' + idEdit).modal('hide');
                                        spinner2.spin(target2);
                                    } else {
                                        alert(resp.data.info);
                                    }
                                }
                            )
                            .then(
                                () => {
                                    axios
                                        .get('/projectListInfo/')
                                        .then(resp => {
                                            spinner2.spin();
                                            this.list = resp.data.data;
                                            console.log(resp.data);
                                        }).catch(err => {
                                        console.log('请求失败:' + err.status + ',' + err.statusText);
                                    });
                                    this.checkedDelete = [];
                                });

                    }
                }
                ,

            }
        })
    </script>

    <script language="javascript">
        function delcfm() {
            if (!confirm("确认要删除？")) {
                projectBatchDelete = false;
                window.event.returnValue = false;
            } else {
                projectBatchDelete = true;
                window.event.returnValue = true;
            }
        }
    </script>

{% endblock %}
