{% extends 'newindex.html' %}
{% block title %}
    <title xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
        项目信息 </title>
{% endblock %}
{% block script %}
    <link href="/static/css/project.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="content" id="projectList" style="width: 88%;height: 100%;">
        <div class="pageheader">
            <p class="titlecss">项目管理</p>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="spinner"
             style="float: left;width: 78%;position: absolute;padding-left: 31px;padding-right: 31px;margin-top: 1%">
            <div class="form-horizontal" role="form"
                 style="overflow: hidden;padding-top: 15px;width: 100%;background-color: white;">
                <div v-for="item in list" class="col-lg-4 col-md-6 col-sm-6">
                    <div class="panel panel-primary" style="border-color: #dbe0eb;">

                        <div class="panel-heading"
                             style="color: #347daf;border-bottom-color:#ebf3f9;background-color: #ebf3f9;background-image:-webkit-linear-gradient(top, #ebf3f9 0%, #ebf3f9 0%)">
                            <p class="panel-title" style="font-weight:bold;">{! item.projectName !}</p>
                        </div>
                        <div class="panel-body" style="text-align: left">
                            <p style="font-size: 16px;font-weight: bold">项目信息：</p>
                            <table class="table table-bordered"
                                   style="border-style: none;border-width: 0px;margin-bottom: 0px;">
                                <tr>
                                    <td style="border-width: 0px;padding-left: 0px;"><label>创建时间：</label>{!
                                        item.createTime !}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-width: 0px;padding-left: 0px;"><label>更新时间：</label>{!
                                        item.updateTime !}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-width: 0px;padding-left: 0px;"><label>总模块数：</label>{!
                                        item.totalModule !}
                                    </td>
                                </tr>
                            </table>
                            <button class="firstViewButton" type="button"
                                    @click="moduleInfo(item.projectName)">
                                查看详情
                            </button>
                            <button class="firstDeleteButton" type="button"
                                    @click="projectDelete(item.projectName)">删除
                            </button>
                            {% comment %}<ul class="list-group">
                            <li class="list-group-item" >
                                <p><label>域名地址：</label>{! item.host !}</p>
                            </li>
                            <li class="list-group-item" >
                                <P>创建时间：dddd</P>
                                <button type="button" class="btn btn-primary" @click="moduleInfo(item.projectName)">
                                    查看
                                </button>
                                <button type="button" class="btn btn-danger" @click="projectDelete(item.projectName)">
                                    删除
                                </button>
                            </li>
                        </ul>{% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6" style="height: 286px">
                    <div class="panel panel-primary" style="border-color: #dbe0eb;">
                        <div class="panel-heading"
                             style="color: #347daf;border-bottom-color:#ebf3f9;background-color: #ebf3f9;background-image:-webkit-linear-gradient(top, #ebf3f9 0%, #ebf3f9 0%)">
                            <p class="panel-title" style="font-weight:bold;">新增</p>
                        </div>
                        <div class="panel-body" style="text-align: center;height: 221px;">
                            <button type="button" class="addButton" data-toggle="modal"
                                    data-target="#newProject">
                                <div>
                                    <span class="glyphicon glyphicon-plus"
                                          style="font-size: 80px;"></span>
                                </div>
                                <div style="margin-top: 5px;"><label
                                        style="font-size: 15px;">点击新增项目</label></div>
                            </button>

                        </div>
                    </div>
                </div>
                <!-- 新建模态框（Modal） -->
                <div class="modal fade" id="newProject" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" id="newProjectRow">
                        <div class="modal-content" style="width: 450px;margin: 75px auto;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;
                                </button>
                                <label class="modal-title" id="myModalLabel">新建项目</label>
                            </div>
                            <div class="modal-body">
                                <form style="text-align: center" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="id_projectName"
                                               class="col-sm-3 control-label">项目名称:</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" name="projectName"
                                                   required id="id_projectName" maxlength="50"
                                                   v-model="projectNameNew"
                                                   placeholder="请输入项目名称"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cookieFlag"
                                               class="col-sm-3 control-label">登录接口:</label>
                                        <div class="col-sm-9">
                                            <select name="cookieFlag" class="form-control"
                                                    required id="cookieFlag" v-model="cookieFlag">
                                                <option value="1">有鱼股票/有鱼智投</option>
                                                <option value="2">Smart</option>
                                                <option value="3">Connect</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <input type="submit" class="btn btn-primary"
                                                   @click="submitFormNew($event)" value="新建"/>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-primary"
                                                    data-dismiss="modal">
                                                关闭
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block vuejs %}

    <script type="text/javascript">
        var vm2 = new Vue({
            delimiters: ['{!', '!}'],
            el: '#projectList',

            data() {
                return {
                    projectNameNew: '',
                    cookieFlag: '',
                    file: '',
                    list: [],
                };
            },
            created() {
                vm1.$data.currentSort = 2;
            },
            mounted() {
                var target = document.getElementById("spinner");
                var spinner = Spinner({top: '1'}).spin(target);

                axios
                    .get('/firstProjectListInfo/')
                    .then(resp => {
                        this.list = resp.data.data;
                        spinner.spin();
                        {#console.log(this.list);#}
                    }).catch(err => {
                    {#console.log('请求失败:' + err.status + ',' + err.statusText);#}
                })
            },
            methods: {
                moduleInfo(projectName) {
                    window.location.href = '/projectList?projectName=' + projectName;
                },

                submitFormNew(event) {
                    if (this.projectNameNew === '' || this.cookieFlag === '') {
                        alert('请输入所有字段！');

                    } else {
                        var target = document.getElementById("newProjectRow");
                        var spinner = Spinner().spin(target);

                        event.preventDefault();
                        let formData = new FormData();
                        formData.append('projectName', this.projectNameNew);
                        formData.append('cookieFlag', this.cookieFlag);

                        let config = {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        };

                        axios
                            .post('/addProject/', formData, config)
                            .then(resp => {
                                    spinner.spin();
                                    {#设置为当模态框完全隐藏时，激活弹窗的功能#}
                                    if (resp.data.code === 0) {
                                        toastr.options = {
                                            closeButton: false,
                                            debug: false,
                                            progressBar: false,
                                            positionClass: "toast-top-center",
                                            onclick: null,
                                            showDuration: "300",
                                            hideDuration: "1000",
                                            timeOut: "2000",
                                            extendedTimeOut: "1000",
                                            showEasing: "swing",
                                            hideEasing: "linear",
                                            showMethod: "fadeIn",
                                            hideMethod: "fadeOut"
                                        };
                                        toastr.success(resp.data.info);
                                        {#$('#importProject').hide();#}
                                        {#$('.modal-backdrop').hide();#}
                                        $('#newProject').modal('hide');
                                        this.projectNameNew = '';
                                        this.cookieFlag = '';
                                    } else {
                                        alert(resp.data.info);
                                    }
                                }
                            )
                            .then(
                                () => {
                                    var target2 = document.getElementById("spinner");
                                    var spinner2 = Spinner({top: '1'}).spin(target2);

                                    axios
                                        .get('/firstProjectListInfo/')
                                        .then(resp => {
                                            spinner2.spin();
                                            this.list = resp.data.data;
                                            {#console.log(resp.data);#}
                                        }).catch(err => {
                                        {#console.log('请求失败:' + err.status + ',' + err.statusText);#}
                                    });
                                });

                    }
                }
                ,

                projectDelete(projectName) {
                    let self = this;
                    zdconfirm("确认要删除吗？", function (r) {
                        if (r) {
                            var target = document.getElementById("spinner");
                            var spinner = Spinner({top: '2'}).spin(target);

                            axios.get('/firstProjectDelete?projectName=' + projectName)
                                .then(resp => {
                                        let info = resp.data.info;
                                        let code = resp.data.code;
                                        if (code === 0) {
                                            toastr.options = {
                                                closeButton: false,
                                                debug: false,
                                                progressBar: false,
                                                positionClass: "toast-top-center",
                                                onclick: null,
                                                showDuration: "300",
                                                hideDuration: "1000",
                                                timeOut: "2000",
                                                extendedTimeOut: "1000",
                                                showEasing: "swing",
                                                hideEasing: "linear",
                                                showMethod: "fadeIn",
                                                hideMethod: "fadeOut"
                                            };
                                            toastr.success(info);
                                        } else {
                                            alert(info);
                                        }
                                    }
                                ).then(
                                () => {
                                    axios
                                        .get('/firstProjectListInfo/')
                                        .then(resp => {
                                            self.list = resp.data.data;
                                            spinner.spin();
                                        }).catch(err => {
                                        {#console.log('请求失败:' + err.status + ',' + err.statusText);#}
                                    });
                                });
                        }
                    })
                },

            }
        })
    </script>
{% endblock %}
