{% extends 'basemain.html' %}
{% block script %}
<script src="/static/js/echarts.min.js"></script>
{% endblock %}
{% block title %}<title> 首页</title> {% endblock %}
{% block content1 %}
    <div class="col-md-2 row"  id ="app1" style="position: fixed;border-right: 1px solid gainsboro;height: 100%"  >
            <ul class="nav nav-pills nav-stacked" style="background-color:gainsboro;text-align:center;">
                <li role="presentation"  v-bind:class="{active:isActiveIn}"><a href="/index/"  >首页</a></li>
                <li role="presentation" v-bind:class="{active:isActiveSi}"><a href="/singleInterface/" >单接口</a></li>
                <li role="presentation" v-bind:class="{active:isActiveAl}"><a href="/projectList/" >项目管理</a></li>
                <li role="presentation" v-bind:class="{active:isActiveApi}"><a href="/apiCases/" >接口用例集管理</a></li>
                <li role="presentation" v-bind:class="{active:isActiveRs}"><a href="/batchReports/" >测试报告管理</a></li>
                <template v-if="user_level!==3">
                <li role="presentation" v-bind:class="{active:isActiveCo}"><a href="/userPermit/" >权限管理</a></li>
                </template>
                <li role="presentation" v-bind:class="{active:isActiveCo}"><a href="/configer/" >全局配置</a></li>

            </ul>
            <div style="width:0;height:300px;border-left: 1px solid blue"></div>
        </div>
{% endblock %}
{% block content %}
{% endblock %}
{% block vuejs %}
<script type="text/javascript">
var vm1 = new Vue({
    delimiters: ['{!', '!}'],
    el:'#app1',
    data:{
        isActiveIn:true,
        isActiveSi:false,
        isActiveAl:false,
        isActiveCo:false,
        isActiveApi:false,
        isActiveRs:false,
        user_level:3,
    },
    created(){
        this.getUsername();
        this.getUserLevel();
    },
    methods:{
        //获取cookie
        getCookie(cname){
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                var key = c.split("=")[0].replace(/\s*/g,"");
                if(cname===key){
                    let cookie_value = c.split("=")[1];
                    return cookie_value
                }
            }
        return "";
      },
        //赋值username
        getUsername(){
            console.log(this.getCookie("usename"));
            var usename = this.getCookie("usename");
            console.log(usename);
            if (usename===""){
                vm.$data.status = "fail";
                vm.$data.login_user = "";
                window.location.href="/login/"
            }else{
                vm.$data.status="success";
                vm.$data.login_user = usename;
            }
            console.log(this.status);
        },
        //获取登录等级，显示左侧列表
        getUserLevel(){
         axios.get('/getUserLevel/',{params:{ username:this.getCookie("usename")}})
             .then(resp =>{
                 console.log(resp.data);
                 this.user_level = resp.data.user_level
                    }).catch(err=>{
                        console.log('请求失败:'+err.status+','+err.statusText);
                })

    }
        }
})
</script>
{% block vuejs1 %}
{% endblock %}
{% endblock %}


