{% extends 'index.html' %}
{% block title %}<title> 首页</title> {% endblock %}
{% block content %}
<div class="col-md-10 row" id ="myindex" style="margin-left: 1px;">
    <ul id="myTab"  class="nav nav-tabs" >
			<li v-for="projectName in projectNameList"><a @click="changeChart(projectName)" data-toggle="tab">
                {! projectName !}</a></li>
    </ul>
    <div class="container">
		<div id="myTabContent" style="height: 500px;width: 1000px">
		</div>
	</div>
    <div class="container">
		<div id="myTabContent1" style="height: 500px;width: 1000px">
		</div>
	</div>
</div>
{% endblock %}
{% block vuejs1 %}
<script type="text/javascript">
var vm = new Vue({
    delimiters: ['{!', '!}'],
    el:'#myindex',
    data:function(){
        return{
            projectName:"",
            showchart:"",
            projectNameList:[],
            myTabContent:"",
            myTabContent1:"",
            options:"",
            tab2Option:"",
            returndata:"",
        }
    },
    created(){
       this.getallData();
       //this.changeChart(this.projectName)
    },
    mounted:function() {

    },
    methods:{
        getinitData(){
          this.myTabContent = echarts.init(document.getElementById('myTabContent'));
          this.myTabContent.setOption(this.options);
          this.myTabContent1 = echarts.init(document.getElementById('myTabContent1'));
          this.myTabContent1.setOption(this.tab2Option);
        },
        getallData(){
            axios.get('/getchartData/',params={})
             .then(resp =>{
                 this.projectNameList=resp.data.projectName;
                 var projectName=this.projectNameList[0];
                 this.returndata = (resp.data.data);
                 this.changeChart(projectName);
                 console.log(resp.data.data);
                    }).catch(err=>{
                        console.log('请求失败:'+err.status+','+err.statusText);
                })
        },
        mulchartData(subtext,allcase,allcasepass,allcasefail,allcasenull,modelListName,allcasemodellist,passcasemodelist,
                        failcasemodelist,nullcasemodelist){
            console.log(subtext,allcase,allcasepass,allcasefail,allcasenull,modelListName,allcasemodellist,passcasemodelist,
                        failcasemodelist,nullcasemodelist);
            var tab2Option ={
			title : {
				text : '项目总执行情况',
				subtext : subtext,
				x : 'center'
			},
			tooltip : {
				trigger : 'item',
				formatter : "{a} <br/>{b} : {c} ({d}%)"
			},
			legend : {
				orient : 'vertical',
				left : 'left',
				data : [ '执行通过', '执行失败', '未执行']
			},
			series : [ {
				name : subtext,
				type : 'pie',
				radius : '55%',
				center : [ '50%', '60%' ],
				data : [ {
					value : allcasepass,
					name : '执行通过',
                    itemStyle: {
				    normal:{
				        color:"#009900"
                    }
                }
				}, {
					value : allcasefail,
					name : '执行失败',
                    itemStyle: {
				    normal:{
				        color:"#CC0000"
                    }
                }
				}, {
					value : allcasenull,
					name : '未执行',
                    itemStyle: {
				    normal:{
				        color:"#C0C0C0"
                    }
                }
				},],
				itemStyle : {
					emphasis : {
						shadowBlur : 10,
						shadowOffsetX : 0,
						shadowColor : 'rgba(0, 0, 0, 0.5)'
					}
				}
			} ]
		};
            var options={
            //定义一个标题
            title:{
                text:"项目各模块执行情况",
                subtext : subtext,
            } ,
            legend:{
                data:["总用例","通过","失败","未执行"]
            },
            tooltip:{
                show: true
            },
            calculable : true,
            xAxis : {
            type : 'category',
            data :modelListName
            },
			yAxis : {
				type : 'value'
			},
			series : [
			    {
                name:"总用例",
				data : allcasemodellist,
				type : 'bar',
                itemStyle: {
				    normal:{
				        color:"#428bca"
                    }
                }
			},
             {

                name:"通过",
				data : passcasemodelist,
				type : 'bar',
                itemStyle: {
				    normal:{
				        color:"#009900"
                    }
                }
			},
             {

                name:"失败",
				data :failcasemodelist,
				type : 'bar',
                itemStyle: {
				    normal:{
				        color:"#CC0000"
                    }
                }

			},
            {
                name:"未执行",
				data : nullcasemodelist,
				type : 'bar',
                itemStyle: {
				    normal:{
				        color:"#C0C0C0"
                    }
                }

			},]

         };
            this.options=options;
            this.tab2Option=tab2Option;
            this.getinitData()

        },
        changeChart(projectName){
            for(var j=0;j<this.returndata.length;j++){
                var subtext = this.returndata[j].projectName;
                if(projectName=== subtext) {
                    var modelListName = [];
                    var allcasemodellist = [];
                    var passcasemodelist = [];
                    var failcasemodelist = [];
                    var nullcasemodelist = [];
                    var allcase=0;
                    var allcasepass=0;
                    var allcasefail=0;
                    var allcasenull=0;
                    for (var s = 0; s < this.returndata[j].moduleName.length; s++) {
                        var modelListinfor = this.returndata[j].moduleName;
                        modelListName.push(modelListinfor[s].moduleName);
                        allcasemodellist.push(modelListinfor[s].allcase);
                        passcasemodelist.push(modelListinfor[s].caseSuccess);
                        failcasemodelist.push(modelListinfor[s].caseFail);
                        nullcasemodelist.push(modelListinfor[s].caseNull);
                        allcase = allcase+modelListinfor[s].allcase;
                        allcasepass=allcasepass+modelListinfor[s].caseSuccess;
                        allcasefail = allcasefail+modelListinfor[s].caseFail;
                        allcasenull = allcasenull+modelListinfor[s].caseNull
                    }
                    this.mulchartData(subtext,allcase,allcasepass,allcasefail,allcasenull,modelListName,allcasemodellist,passcasemodelist,
                        failcasemodelist,nullcasemodelist)
                }




            }

        }

    }
    }).$mount('div')
</script>
{% endblock %}
