<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/newindex.css" rel="stylesheet">
    <link href="/static/css/baseCss.css" rel="stylesheet">
    <link href="/static/css/apiCasesPage.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/static/css/myCss.css" rel="stylesheet">
    <link href="/static/css/singleCss.css" rel="stylesheet">
    <link href="/static/js/toast/toastr.min.css" rel="stylesheet" type="text/css">
    <link href="/static/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <link href="https://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-switch/4.0.0-alpha.1/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="/static/css/jquery.jsonview.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/axios.js"></script>
    <script src="/static/js/vue-router.js"></script>
    <script src="/static/dist/jsoneditor.min.js"></script>
    <script src="/static/js/toast/toastr.min.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/spin.min.js"></script>
    <script src="/static/js/bootstrap-paginator.js"></script>
    <script src="/static/js/jquery.jsonview.js"></script>
    <script src="/static/js/alert.js"></script>
    <script src="/static/js/jquery.json-viewer.js"></script>
    {% block script %}
    {% endblock %}
    {% block title %}<title> 首页</title> {% endblock %}
</head>
<body style="background-color: #f7f7f7;height: 100%;font-size: 14px" >
<div id="row" style="overflow-x: hidden;height: 100%;width: 100%">
    <div id="left" class="navleft">
        <div class="indexleft"><p>自动化接口平台</p></div>
        <div style="width: 100%;padding-top: 18%;">
            <ul style=" list-style: none;padding-inline-start: 14px;" >
                <div v-for="(item,index) in navTab" :key="index"  @click="active(index)" class="row" style="height:40px;width:100%;cursor:pointer">
                    <div :class="{'isshow':currentSort!==index}" style="width: 1.8%;height: 100%;background-color: ghostwhite;float: left"></div>
                    <div :class="{'selected':currentSort==index}" >
                        <p class="indextab" style="margin-top: 10px">{!item.name !}</p></div>
                </div>
            </ul>
        </div>
        <div class="userdiv"></div>
        <div style="width: 100%;margin-bottom: 10px">
            <p class="indextab">当前用户：{! username !}</p>
            <button class="username" @click="quitServer()"><p class="btnquit" >退出当前用户</p></button>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
<script type="text/javascript">
var vm1 = new Vue({
    delimiters: ['{!', '!}'],
    el:'#left',
    data(){
       return {
           currentSort:0,
           username:"",
           user_level:"",
           user_group:"",

           navTab:[{
               name:"首页",
               url:"/index/"
           },{
               name:"单接口",
               url:"/singleInterface/"

           },{
               name:"项目管理",
               url:"/firstProjectList/"

           },{
               name:"测试用例集管理",
               url:"/apiCases/"

           },{
               name:"测试报告管理",
               url:"/batchReports/"

           },{
               name:"权限控制",
               url:"/userPermit/"

           },{
               name:"全局配置",
               url:"/configer/"

           },
           {
               name:"项目配置",
               url:"/projectconfiger/"

           }]

       }

    },
    created(){
    },
     mounted:function() {
         this.getUsername();
         this.getUserLevel();

    },
    methods:{
        //获取cookie
        getCookie(cname){
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                var key = c.split("=")[0].replace(/\s*/g,"");
                if(cname===key){
                    let cookie_value = c.split("=")[1];
                    return cookie_value
                }
            }
        return "";
      },
        //赋值username
        getUsername(){
            let username = this.getCookie("usename");
            if (username===""){
                window.location.href='/login';
            }else{
                //console.log(this.getCookie("usename"));
            this.username = this.getCookie("usename");
            }
        },
        //获取登录等级，显示左侧列表
        getUserLevel(){
         axios.get('/getUserLevel/',{params:{ username:this.getCookie("usename")}})
             .then(resp =>{
                 //console.log(resp.data);
                 this.user_level = resp.data.user_level;
                 this.user_configPermit = resp.data.user_configPermit;
                 this.user_group  = resp.data.user_group;
                    }).catch(err=>{
                        console.log('请求失败:'+err.status+','+err.statusText);
                })
    },
        quitServer(){
            window.location.href="/logout/";
        },
        active(index){
            let url = this.navTab[index].url;
            if (url==="/userPermit/"&&this.user_level===3){
                window.alert("您没有此页面权限，请联系管理员添加权限")
            }else if(url==="/configer/"&&this.user_configPermit===false){
                 window.alert("您没有此页面权限，请联系管理员添加权限")
            }else if(url==="/projectconfiger/"&&this.user_configPermit===false){
                 window.alert("您没有此页面权限，请联系管理员添加权限")
            }
            else{
                this.currentSort = index;
                window.location.href=url
            }
        },
        }
}).$mount('#left')
</script>
{% block vuejs %}
{% endblock %}
</html>