{% extends 'newindex.html' %}
{% block title %}<title> 首页</title> {% endblock %}
{% block script %}
<link href="/static/css/myindex.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div  id ="myindex" class="content">
    <div class="pageheader">
        <div v-for="projectName,index in projectNameList" class="projectCss" ><span :class="{'projectnamesel':currentSort==index}" class="projectname"  @click="changeChart(index,projectName)">{! projectName !}</span>
        <div :class="{'isshow':currentSort!==index}" style="height: 4px;background-color: #2372A8;margin-top: 10px;margin-left:5px;margin-right:5px;text-align: center "></div>
        </div>
    </div>
</div>
{% endblock %}
