{% extends 'basemain.html' %}
{% block title %} 项目信息 {% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="col-md-4  panel panel-default" style="width: 100%;height: 100%;" id="projectList">
        <div class="panel-body">
            <div class="btn-group">
                <!-- 新建按钮触发模态框 -->
                <button class="btn btn-primary" data-toggle="modal" data-target="#newProject">新建</button>
                <!-- 新建模态框（Modal） -->
                <div class="modal fade" id="newProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="margin: 150px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">新建项目</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/addProjectList/" method="post" style="text-align: center">
                                    {{ form }}
                                    <input type="submit" class="btn btn-primary" value="新建"/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                                </form>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <!-- 导入按钮触发模态框 -->
                <button class="btn btn-primary" data-toggle="modal" data-target="#importProject">导入</button>
                <!-- 导入模态框（Modal） -->
                <div class="modal fade" id="importProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="margin: 150px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
                            </div>
                            <div class="modal-body">在这里添加一些文本</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary">提交更改</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <button class="btn btn-primary" data-toggle="modal" data-target="#batchOperation">批量操作</button>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>项目名称</th>
                    <th>模块名称</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td class="col-xs-4">{! item.projectName !}</td>
                    <td class="col-xs-4">{! item.moduleName !}</td>
                    <td class="col-xs-4">{! item.updateTime !}</td>
                    <td>
                        <div class="btn-group">
                            <a v-bind:href="['/projectDelete?id='+item.id]">
                                <button type="button" class="btn btn-default" onClick="delcfm()">
                                    删除
                                </button>
                            </a>
                            <a v-bind:href="['/projectView?id='+item.id]">
                                <button type="button" class="btn btn-default">查看</button>
                            </a>

                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    v-bind:data-target="'#editProject'+[item.id]">编辑
                            </button>

                            <div class="modal fade" v-bind:id="'editProject'+[item.id]" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="margin: 150px;">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">新建项目</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/projectEdit/" method="post" style="text-align: center">
                                                <input type="hidden" name="id" readonly="readonly"
                                                       v-bind:value="[item.id]">
                                                <input type="text" name="projectName" v-bind:value="[item.projectName]">
                                                <input type="text" name="moduleName" v-bind:value="[item.moduleName]">
                                                <br>
                                                <input type="submit" class="btn btn-primary" value="修改"/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭
                                                </button>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                            </div>


                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
</div>
</div>
<div class="col-md-4"></div>

{% block vuejs %}
    <script type="text/javascript">
        var vm = new Vue({
            delimiters: ['{!', '!}'],
            el: '#projectList',
            data() {
                return {
                    list: []
                };
            },
            mounted() {
                axios
                    .get('/projectListInfo/')
                    .then(resp => {
                        this.list = resp.data;
                        console.log(this.list);
                    }).catch(err => {
                    console.log('请求失败:' + err.status + ',' + err.statusText);
                })
            }
        })
    </script>

    <script language="javascript">
        function delcfm() {
            if (!confirm("确认要删除？")) {
                window.event.returnValue = false;
            }
        }
    </script>

{% endblock %}
