{% extends 'index.html' %}
{% block title %}
    <title> 项目信息 </title>
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="col-md-10 row" id="projectList">
        <div class="row">
            <div class="btn-group" style="margin-top: 10px">
                <!-- 新建按钮触发模态框 -->

                <button class="btn btn-primary" data-toggle="modal" data-target="#newProject">新建</button>
                <!-- 新建模态框（Modal） -->
                <div class="modal fade" id="newProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="margin: 150px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">新建项目</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/addProjectList/" method="post" style="text-align: center">
                                    {{ form }}
                                    <input type="submit" class="btn btn-primary" value="新建"/>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                                </form>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <!-- 导入按钮触发模态框 -->
                <button class="btn btn-primary" data-toggle="modal" data-target="#importProject">导入</button>
                <!-- 导入模态框（Modal） -->
                <div class="modal fade" id="importProject" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="margin: 150px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">导入</h4>
                            </div>
                            <div class="modal-body">选择需要导入的文件</div>
                            <div class="modal-footer" style="text-align: center">
                                <button type="button" class="btn btn-primary">提交更改</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

                {#                判断批量删除的复选框是否被选中，如果被选中，则显示批量删除的按钮#}
                {#                checkedDelete为数组，记录着选中的项目的ID#}
                <button class="btn btn-primary" @click="selectAll()">全选</button>
                <button class="btn btn-primary" @click="selectInvert()">反选</button>

                <template v-if="checkedDelete !== undefined && checkedDelete.length > 0 ">
                    <button class="btn btn-primary" onClick="delcfm()" @click="projectBatchDelete()">批量删除</button>
                </template>

            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>项目名称</th>
                    <th>模块名称</th>
                    <th>更新时间</th>
                    <th>操作</th>
                    <th>批量删除</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{! item.projectName !}</td>
                    <td>{! item.moduleName !}</td>
                    <td>{! item.updateTime !}</td>
                    <td style="margin: auto">
                        <div class="btn-group" style="margin: auto">
                            <a v-bind:href="['/apiInfopage?pid='+item.id]">
                                <button type="button" class="btn btn-primary">
                                    查看
                                </button>
                            </a>

                            <a>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        v-bind:data-target="'#editProject'+[item.id]">
                                    编辑
                                </button>
                            </a>


                            <div class="modal fade" v-bind:id="'editProject'+[item.id]" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="margin: 150px;">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">编辑名称</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/projectEdit/" method="post" style="text-align: center">
                                                <input type="hidden" name="id" readonly="readonly"
                                                       v-bind:value="[item.id]">
                                                <label for="id_projectName">项目名称:</label>
                                                <input type="text" name="projectName" v-bind:value="[item.projectName]"
                                                       required="required" id="id_projectName" maxlength="50">
                                                <label for="id_moduleName">模块名称:</label>
                                                <input type="text" name="moduleName" v-bind:value="[item.moduleName]"
                                                       required="required" id="id_moduleName" maxlength="50">
                                                <br>
                                                <input type="submit" class="btn btn-primary" value="修改"/>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭
                                                </button>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                            </div>

                            <a v-bind:href="['/projectDelete?id='+item.id]">
                                <button type="button" class="btn btn-primary" onClick="delcfm()">
                                    删除
                                </button>
                            </a>


                        </div>
                    </td>
                    <td><input type="checkbox" v-bind:value="[item.id]" v-model="checkedDelete"></td>
                </tr>
                </tbody>
            </table>
            {! checkedDelete !}
        </div>
    </div>
{% endblock %}
</div>
</div>
<div class="col-md-4"></div>

{% block vuejs1 %}

    <script type="text/javascript">
        var vm = new Vue({
            delimiters: ['{!', '!}'],
            el: '#projectList',
            data() {
                return {
                    list: [],
                    checkedDelete: []
                };
            },
            created() {
                vm1.$data.isActiveSi = false;
                vm1.$data.isActiveIn = false;
                vm1.$data.isActiveAl = true
            },
            mounted() {
                axios
                    .get('/projectListInfo/')
                    .then(resp => {
                        this.list = resp.data;
                        console.log(this.list);
                    }).catch(err => {
                    console.log('请求失败:' + err.status + ',' + err.statusText);
                })
            },
            methods: {
                projectBatchDelete() {
                    axios.post('/projectBatchDelete/', {
                        params: {
                            idDelete: this.checkedDelete
                        }
                    }).then(() => {
                        axios
                            .get('/projectListInfo/')
                            .then(resp => {
                                this.list = resp.data;
                                console.log(resp.data);
                            }).catch(err => {
                            console.log('请求失败:' + err.status + ',' + err.statusText);
                        });
                        this.checkedDelete = '[]';
                    });
                },

                selectAll() {
                    axios
                        .get('/projectListInfo/');

                },

                selectInvert() {
                    axios
                        .get('/projectListInfo/');

                },

            }
        })
    </script>

    <script language="javascript">
        function delcfm() {
            if (!confirm("确认要删除？")) {
                window.event.returnValue = false;
            }
        }
    </script>


{% endblock %}
