{% extends 'newindex.html' %}
{% block title %}<title> 接口配置</title> {% endblock %}
{% block script %}
<link href="/static/css/myindex.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="content" id ="projectconfiger">
    <div class="pageheader">
        <p class="titlecss">项目信息配置</p>
        {% comment %}<div style="padding-right: 30px;padding-top:5px;float: right"  >
          <button type="submit" class="btnsave" @click="saveData()">保存</button>
        </div>{% endcomment %}
    </div>
    <div class="formContent">
        <div id="spinner"
             style="float: left;width: 76%;position: absolute;padding-left: 31px;padding-right: 31px;margin-top: 1%">
            <div class="form-horizontal" role="form"
                 style="overflow: hidden;padding-top: 15px;width: 100%;background-color: white;">
                <template v-for="(project,index1) in projectSchedule ">
                <div style="width: 100%">
                    <div class="panel panel-primary" style="border-color: #dbe0eb;">
                        <div class="panel-heading"
                             style="color: #347daf;border-bottom-color:#ebf3f9;background-color: #ebf3f9;background-image:-webkit-linear-gradient(top, #ebf3f9 0%, #ebf3f9 0%)">
                            <p class="panel-title" style="font-weight:bold;">{! project.projectname !}</p>
                            <a v-show="currentProject!==index1" style="float: right;margin-top: -15px;"
                               data-toggle="collapse" data-parent="#accordion"  @click="collapse(index1,project.id,true)"
				    >点击展开</a>
                            <a v-show="currentProject===index1" style="float: right;margin-top: -15px;"
                               data-toggle="collapse" data-parent="#accordion"  @click="collapse(index1,project.id,false)"
				    >点击收起</a>
                        </div>
                        <div v-show="currentProject===index1" class="panel-collapse collapse in">
                        <div class="panel-body tableStyles" style="text-align: center;">
                                <div class="row" role="form" style="margin-top: 8px">
                                    <label style="width: 15%;float: left;margin-top: 5px">执行环境：</label>
                                    <div style="width: 20%;float: left">
                                    <select class="form-control"  v-model="project.evirment">
                                        <option value=null>请选择</option>
                                        <option value="QA">QA</option>
                                        <option value="Stage">Stage</option>
                                        <option value="Live">Live</option></select>
                                    </div>
                                    {% comment %}<div style="width: 30%;float: left">31312313</div>{% endcomment %}
                                </div>
                               <div class="row" role="form" style="margin-top: 8px;" >
                                    <label style="width: 15%;float: left;margin-top: 5px">业务用例：</label>
                                    <div style="width: 75%;float: left;border: 1px solid gainsboro;
                                    margin-top: 10px;margin-bottom: 10px;height:250px;overflow-y:auto;max-height:250px;">
                                        <template v-for="(caseinfor,index2) in project.runcaseinfor">
                                        <div style="width: 33.3%;float: left;text-align: left;padding: 5px">
                                            <input  type="checkbox" :checked = "caseinfor.checkif"
                                                    @click="runcaseList($event,index1,index2,caseinfor.id)">
                                        <span >{! caseinfor.casename !}</span>
                                        </div>
                                        </template>
                                    </div>


                               </div>
                                <div class="row" style="float: right;margin-right: 30px;width: 18%">
                                    <input  type="checkbox" value="1" id="isTeam"  @click="choseAll(index1,$event)" >
                            <span >全选</span>
                        </div>
                                <div class="row" role="form" style="margin-top: 8px">
                                    <label style="width: 15%;float: left;margin-top: 5px">执行依赖cookie：</label>
                                    <div style="width: 60%;float: left">
                                        <input v-model="project.cookies"  class="form-control" placeholder="格式：{'mmaclientid': '226483', 'session': '1DF93928187547CF85FB85466A61C7D2', 'uin': '53'}">
                                    </div>
                               </div>
                               <div class="row" role="form" style="margin-top: 8px">
                                    <label style="width: 15%;float: left;margin-top: 5px">收件人：</label>
                                    <div style="width: 60%;float: left">
                                        <input v-model="project.reporter" class="form-control">
                                    </div>
                                    <p style="color: red;margin-left: 5px;margin-top:5px;float: left;">
                                        多个收件人之间用'，'隔开</p>
                               </div>

                               <div class="row" role="form" style="margin-top: 8px">
                                    <label style="width: 15%;float: left;margin-top: 5px">执行时间：</label>
                                    <div style="width: 20%;float: left">
                                    <select class="form-control"  v-model="project.timeDay">
                                        <option value=null>请选择</option>
                                        <option value="每天">每天</option>
                                        <option value="每周">每周</option>
                                        <option value="每月">每月</option></select>
                                    </div>
                                   <div style="width: 20%;float: left">
                                    <select class="form-control"  v-model="project.timeTime">
                                        <option value=null>请选择</option>
                                        <option value="09:00">09:00</option>
                                        <option value="14:00">14:00</option>
                                        <option value="19:00">19:00</option>
                                    </select>
                                    </div>
                               </div>
                            <button class="btn-save" style="margin-top: 10px;float: right" @click="saveProConf(index1)">保存设置</button>
                        </div>
                        </div>
                </div>
            </div>
                </template>
        </div>
    </div>

</div>

{% endblock %}
{% block vuejs%}
    <script type="text/javascript">
var vm = new Vue({
    delimiters: ['{!', '!}'],
    el: '#projectconfiger',
    data: {
        projectSchedule :[],
        currentProject:""
    },
    created() {
        vm1.$data.currentSort = 7;

    },
    mounted: function () {
        this.initData();
        //this.initshow()
    },
    methods: {
        initData(){
             axios.get('/getScheduleinitData/')
                .then(resp =>{
                    console.log(resp.data);
                    if(resp.data.code===0){
                        this.projectSchedule = resp.data.data;

                        this.initshow()
                    }
                    }).catch(err=>{
                        console.log('请求失败:'+err.status+','+err.statusText);
                })

        },
        runcaseList(e,index1,index2,id){

            if(e.target.checked===true){

                this.projectSchedule[index1].runcaseid .push(id.toString());
                this.projectSchedule[index1].runcaseinfor[index2].checkif=true
            }else{
                this.projectSchedule[index1].runcaseid .pop(id.toString());
                this.projectSchedule[index1].runcaseinfor[index2].checkif=false
            }
        },
        saveProConf(index){
            lenCaselist = this.projectSchedule[index].runcaseinfor.length;
            if(lenCaselist===0){
                alert("该项目下暂无用例，请添加用例后保存")
            }
            else{
                 data_to_send = {
                datas :this.projectSchedule[index]
            };
            console.log(data_to_send);
            axios.post('/saveProConf/',data_to_send)
                .then(resp =>{
                    console.log(resp.data);
                    if(resp.data.code===0){
                        toastr.options = {
                                 closeButton: false,
                                 debug: false,
                                 progressBar: false,
                                 positionClass: "toast-top-center",
                                 onclick: null,
                                 showDuration: "300",
                                 hideDuration: "1000",
                                 timeOut: "2000",
                                 extendedTimeOut: "1000",
                                 showEasing: "swing",
                                 hideEasing: "linear",
                                 showMethod: "fadeIn",
                                 hideMethod: "fadeOut"
                             };
                             //console.log(resp.data);
                             toastr.success(resp.data.msg);
                        this.initData()
                    }
                    }).catch(err=>{
                        console.log('请求失败:'+err.status+','+err.statusText);
                })

            }
        },
        initshow(){
            $("0").collapse( {toggle: true});
            {% comment %}for(var i=0;i<this.projectSchedule.length;i++) {
                id = this.projectSchedule[i].id;
                if(i===0){
                    $(id).collapse('show');
                }else{
                    $(id).collapse('hide');
                }
            }{% endcomment %}
        },
        collapse(index,id,isshow){
            if(isshow===true){
                this.currentProject=index;
            }else{
                this.currentProject="";
            }

        },
        choseAll(index,e){
            let caseList = this.projectSchedule[index].runcaseinfor;
            let ischeckall =  e.target.checked;
            let runcaseList = [];
            if (ischeckall===true){
                for(var s=0;s<caseList.length;s++){
                    caseList[s].checkif=true;
                    runcaseList.push((caseList[s].id).toString())
                }
            this.projectSchedule[index].runcaseid =  runcaseList
            }else{
                for(var m=0;m<caseList.length;m++){
                    caseList[m].checkif=false
                }
            this.projectSchedule[index].runcaseid =  []
            }
        }

    }
})
</script>
{% endblock %}