{% extends 'index.html' %}
{% block title %}<title> 结果报告</title> {% endblock %}
{% block content %}
<div class="col-md-9 row" id ="reports" style="margin-left: 16%;">
    <div>
        <div style="border-bottom: 1px solid gainsboro;width: 100%">
            <h3>批量执行结果报告</h3>
        </div>
        <div class="form-horizontal" role="form" style="margin:25px">
            <table class="table table-bordered" ref="tables" id="tableBody">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>报告名称</th>
                    <th>批量执行开始时间</th>
                    <th>批量执行结束时间</th>
                    <th>执行用例总数</th>
                    <th>成功用例数</th>
                    <th>失败用例数</th>
                    <th>错误用例数</th>
                    <th>执行者</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="(info,index) in reportList">
                        <td><label class="form-check-label">
                                <input type="checkbox" class="selBtn" id="selBtn" v-bind:value="[info.id]" @click="changeSel(info.id, $event)" value="info.id">
                            </label>
                            {! index+1 !}</td>
                        <td>{! info.report_runName !}</td>
                        <td>{! info.startTime !}</td>
                        <td>{! info.endTime !}</td>
                        <td>{! info.totalNum !}</td>
                        <td>{! info.successNum !}</td>
                        <td>{! info.failNum !}</td>
                        <td>{! info.errorNum !}</td>
                        <td>{! info.executor !}</td>
                        <td>
                            <a :href="['/viewreport/?report='+info.report_localName]" target="_blank" ><button type="button" class="btn btn-sm btn-primary">查看</button></a>
                            <a :href="['/viewreport/?report='+info.report_localName]" download ><button type="button" class="btn btn-sm btn-primary">下载</button>
                            </a>
                            <button type="button" class="btn btn-sm btn-danger" @click="delreport(info.id)">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ref="selall">
                <label class="form-check-label">
                    <input type="checkbox" id="selAllBtn" class="selAllBtn" @click="selectAllBtn($event)">
                </label><span>&nbsp;全选&nbsp;</span>
                <button type="button" class="btn btn-default btn-sm" id="batchdel"  @click="batchdel()" style="padding: 2px 6px;">批量删除</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block vuejs1 %}
    <script type="text/javascript">
var vmRs = new Vue({
    delimiters: ['{!', '!}'],
    el: '#reports',
    data: {
        reportList: "",
        delList:[],
    },
    created() {
        vm1.$data.isActiveSi = false;
        vm1.$data.isActiveIn = false;
        vm1.$data.isActiveAl = false;
        vm1.$data.isActiveCo = false;
        vm1.$data.isActiveApi = false;
        vm1.$data.isActiveRs = true;
        vm1.$data.isActivePer = false;
    },
    mounted(){
        this.getreportList();
    },
    methods: {
        getreportList() {
            var target = document.getElementById("tableBody");
            var spinner1 = Spinner({top:"1"}).spin(target);
            axios.get('/reportList/')
                .then(resp => {
                    this.reportList = resp.data.datas;
                    spinner1.spin();
                }).catch(err => {
                console.log('请求失败:' + err.status + ',' + err.statusText);
            })
        },
        delreport(id){
            if (!confirm("确认要删除？")) {
                    window.event.returnValue = false;
                }else {
                    console.log('id=' + id);
                    axios.post('/reportDelete/', {
                        params: {
                            id: id
                        }
                    })
                        .then(resp => {
                            this.result = resp.data;
                            let info = resp.data.info;
                            let code = resp.data.code;
                            if (code === 0) {
                                alert("删除成功");
                                window.location.reload(true);
                            } else {
                                alert("删除失败:" + info);
                            }
                        })
                        .catch(err => {
                            console.log('请求失败:' + err.status + ',' + err.statusText);
                        })
                }
            },
        changeSel(id, e){
                console.log("-------------");
                console.log(id);
                let chev = e.target.checked;
                console.log(chev);
                if(chev === true) {
                    if(this.delList.indexOf(id) === -1) {
                        this.delList.push(id);
                    }
                }
                else {
                    let index = this.delList.indexOf(id);
                        if (index > -1) {
                            this.delList.splice(index, 1);
                        }
                }
                let checkDom = this.$refs.tables.getElementsByClassName("selBtn");
                console.log(checkDom);
                let vlist = [];
                let sums=0;
                console.log(checkDom.length);
                for(let i=0;i<checkDom.length;i++){
                    vlist[i] = checkDom[i].checked;
                    if(vlist[i]){
                        sums += 1;
                    }
                }
                console.log(vlist);
                console.log(sums);
                if(sums === checkDom.length){
                    return this.$refs.selall.getElementsByClassName("selAllBtn")[0].checked=true;
                }else{
                    return this.$refs.selall.getElementsByClassName("selAllBtn")[0].checked=false;
                }
            },
        selectAllBtn(e){
                let checked = e.target.checked;
                console.log(checked);
                let checkDom = this.$refs.tables.getElementsByClassName("selBtn");
                console.log(checkDom);
                if(checked){
                    for(var i=0;i<checkDom.length;i++){
                        checkDom[i].checked=true;
                        let checkvalue = parseInt(checkDom[i].value);
                        console.log(this.delList.indexOf(checkvalue));
                        if(this.delList.indexOf(checkvalue) === -1){
                            this.delList.push(checkvalue);
                        }
                    }
                }else{
                    for(i=0;i<checkDom.length;i++){
                        checkDom[i].checked=false;
                        let index = this.delList.indexOf(parseInt(checkDom[i].value));
                        if (index > -1) {
                            this.delList.splice(index, 1);
                        }
                    }
                }
            },
        batchdel(){
                let dellist = this.delList;
                console.log("********************");
                console.log(dellist);
                if (dellist.length !== 0) {
                    if (!confirm("删除之后无法恢复，确认要删除？")) {
                        window.event.returnValue = false;
                    }else {
                        axios.post('/reportbatchdel/', {
                            params: {
                                idList: dellist,
                            },
                        })
                            .then(resp => {
                                console.log(resp.data);
                                let code = resp.data.code;
                                let info = resp.data.info;
                                if (code === 0) {
                                    alert("删除成功，结果：" + info);
                                    window.location.reload(true);
                                }else{
                                    alert("删除失败");
                                }
                            })
                            .catch(err => {
                                console.log('请求失败:' + err.status + ',' + err.statusText);
                            })
                    }
                }
            },

    }
})
    </script>
{% endblock %}