{% extends 'newindex.html' %}
{% block title %}<title> 结果报告</title> {% endblock %}
{% block content %}
<div class="reportsPage" id ="reports">
        <div class="pagetitle" style="">
            <p style="margin-top: 0px;margin-bottom: 0px;">测试结果报告</p>
        </div>
        <div class="tableContent" id="tableContent" role="form">
            <div class="tableStyles" style="min-height: 620px;">
                <table ref="tables" id="tableBody" style="width: 100%;">
                    <thead>
                    <tr>
                        <th style="width: 6%">序号</th>
                        <th>报告名称</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th style="width: 8%">用例总数</th>
                        <th style="width: 6%">成功</th>
                        <th style="width: 6%">失败</th>
                        <th style="width: 6%">错误</th>
                        <th>执行者</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(info,index) in reportList">
                            <td><label class="form-check-label">
                                    <input type="checkbox" class="selBtn" id="selBtn" v-bind:value="[info.id]" v-model="casesSel_list" @click="changeSel($event)">
                                </label>
                                {! index+ pageCount*(pageNum-1) +1 !}
                            <td>{! info.report_runName !}</td>
                            <td>{! info.startTime !}</td>
                            <td>{! info.endTime !}</td>
                            <td>{! info.totalNum !}</td>
                            <td>{! info.successNum !}</td>
                            <td>{! info.failNum !}</td>
                            <td>{! info.errorNum !}</td>
                            <td>{! info.executor !}</td>
                            <td>
                                <a :href="['/viewreport/?report='+info.report_localName]" target="_blank" ><button type="button" class="btn-local">查看</button></a>
                                <a :href="['/viewreport/?report='+info.report_localName]" v-bind:download="info.report_localName" ><button type="button" class="btn-local">下载</button>
                                </a>
                                <button class="btn-delete" @click="delreport(info.id)">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ref="selall" style="margin: 10px;">
                    <label class="form-check-label">
                        <input type="checkbox" id="selAllBtn" class="selAllBtn" v-model="isSelectAll" @click="selectAllBtn($event)">
                    </label><span>&nbsp;全选&nbsp;</span>
                    <button type="button" class="btn btn-default btn-sm" id="batchdel"  @click="batchdel()">批量删除</button>
                </div>
            </div>
            <div style="margin: 0px auto;width: auto;text-align: center;" v-if="pageview">
                <ul class="pagination">
                    <li v-bind:class="disflag_left"><a @click="cutPage(pageNum)">&lt</a></li>
                    <li><a>{! pageNum !}</a></li>
                    <li v-bind:class="disflag_right"><a @click="addPage(pageNum)">&gt</a></li>
                </ul>
            </div>
        </div>
</div>
{% endblock %}
{% block vuejs %}
    <script type="text/javascript">
var vmRs = new Vue({
    delimiters: ['{!', '!}'],
    el: '#reports',
    data: {
        reportList: "",
        delList:[],
        pageNum:1,
        disflag_left:"disabled",
        disflag_right:"",
        pageCount: 10,
        totalCount:0,
        pageview: false,
        isSelectAll: false,
        cases_list: [],
        casesSel_list: [],
    },
    created() {
        vm1.$data.currentSort = 4;
    },
    mounted(){
        this.getreportList();
    },
    methods: {
        getreportList() {
            var target = document.getElementById("tableBody");
            var spinner1 = Spinner({top:"1"}).spin(target);
            axios.get('/reportList/', {
                params:{
                        pageNum: this.pageNum,
                        pageCount:this.pageCount,
                    }
            })
                .then(resp => {
                    this.reportList = resp.data.datas;
                    this.cases_list = [];
                    for(let i=0;i<this.reportList.length;i++){
                        let id = this.reportList[i].id;
                        if(this.cases_list.indexOf(id) === -1){
                            this.cases_list.push(id);
                        }
                    }
                    this.totalCount = resp.data.totalCount;
                    if((this.totalCount / this.pageCount) > 1){
                        this.pageview = true;
                    }
                    spinner1.spin();
                    this.selectCheck();
                }).catch(err => {
                console.log('请求失败:' + err.status + ',' + err.statusText);
            })
        },
        selectCheck(){
                // 根据case行的选择设置换页之后全选的状态
                let case_list = this.cases_list;
                let casesSel_list = [];
                for(let j=0;j<this.casesSel_list.length;j++){
                    casesSel_list.push(this.casesSel_list[j][0]);
                }
                for(let i=0;i<case_list.length;i++){
                    if(casesSel_list.indexOf(case_list[i]) > -1){
                        this.delList.push(case_list[i]);
                    }
                }
                if((this.delList.length) === this.cases_list.length){
                    this.isSelectAll=true;
                }else{
                    this.isSelectAll=false;
                }
            },
        delreport(id){
            if (!confirm("确认要删除？")) {
                    window.event.returnValue = false;
                }else {
                    console.log('id=' + id);
                    axios.post('/reportDelete/', {
                        params: {
                            id: id
                        }
                    })
                        .then(resp => {
                            this.result = resp.data;
                            let info = resp.data.info;
                            let code = resp.data.code;
                            if (code === 0) {
                                alert("删除成功");
                                this.getreportList();
                            } else {
                                alert("删除失败:" + info);
                            }
                        })
                        .catch(err => {
                            console.log('请求失败:' + err.status + ',' + err.statusText);
                        })
                }
            },
        changeSel(e){
                let chev = e.target.checked;
                let id = parseInt(e.target.value);
                if(chev === true) {
                    if(this.delList.indexOf(id) === -1) {
                        this.delList.push(id);
                    }
                 } else {
                    let index = this.delList.indexOf(id);
                        if (index > -1) {
                            this.delList.splice(index, 1);
                        }
                 }
                if((this.delList.length) === this.cases_list.length){
                    this.isSelectAll=true;
                }else{
                    this.isSelectAll=false;
                }
            },
        selectAllBtn(e){
                let checked = e.target.checked;
                if(checked){
                    for(let i=0;i<this.cases_list.length;i++){
                        let caseid = parseInt(this.cases_list[i]);
                        let inflag = false;
                        for(let j=0;j<this.casesSel_list.length;j++){
                            if(this.casesSel_list[j].indexOf(caseid) > -1){
                                inflag = true;
                                break;
                            }
                        }
                        if(inflag === false){
                            this.casesSel_list.push([caseid]);
                        }
                        if(this.delList.indexOf(caseid) === -1){
                            this.delList.push(caseid);
                        }
                    }
                }else{
                    this.delList = [];
                    for(let i=0;i<this.cases_list.length;i++){
                        let caseid = parseInt(this.cases_list[i]);
                        for(let j=0;j<this.casesSel_list.length;j++){
                            if(this.casesSel_list[j].indexOf(caseid) > -1){
                                this.casesSel_list.splice(j, 1);
                                break;
                            }
                        }
                    }
                }
            },
        batchdel(){
                let dellist = [];
                for(let j=0;j<this.casesSel_list.length;j++){
                    dellist.push(this.casesSel_list[j][0]);
                }
                if (dellist.length !== 0) {
                    if (!confirm("删除之后无法恢复，确认要删除？")) {
                        window.event.returnValue = false;
                    }else {
                        axios.post('/reportbatchdel/', {
                            params: {
                                idList: dellist,
                            },
                        })
                            .then(resp => {
                                console.log(resp.data);
                                let code = resp.data.code;
                                let info = resp.data.info;
                                if (code === 0) {
                                    alert("删除成功，结果：" + info);
                                    this.getreportList();
                                }else{
                                    alert("删除失败");
                                }
                            })
                            .catch(err => {
                                console.log('请求失败:' + err.status + ',' + err.statusText);
                            })
                    }
                }
            },
        addPage(num){
                this.pageNum = num +1;
                if(this.pageNum > 1){
                    this.disflag_left = "";
                }
                let totalNums = this.totalCount / this.pageCount;
                if(this.pageNum >= totalNums){
                    this.disflag_right = "disabled";
                }
                this.reportList = [];
                this.delList = [];
                this.getreportList();
            },
        cutPage(num){
                this.pageNum = num -1;
                if(this.pageNum === 1){
                    this.disflag_left = "disabled";
                }
                let totalNums = this.totalCount / this.pageCount;
                if(this.pageNum < totalNums){
                    this.disflag_right = "";
                }
                this.reportList = [];
                this.delList = [];
                this.getreportList();
            },

    }
})
    </script>
{% endblock %}