{% extends 'index.html' %}
{% block title %}<title> 首页</title> {% endblock %}
{% block content %}
    <!--<div class="row" style="border: #337ab7">-->
<div class="col-md-10 row" id ="app2">
 <div class="row">
	<form class="bs-example bs-example-form" role="form">
		<div class="row" >
			<div class="col-lg-9">
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{! method !}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a @click="getMethod('GET')">GET</a></li>
							<li><a @click="getMethod('POST')">POST</a></li>
						</ul>
					</div><!-- /btn-group -->
					<input v-model="url" type="text" class="form-control" placeholder="请求地址">
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
            <div class="col-lg-2">
                <button id="fat-btn" class="btn btn-success" data-loading-text="Loading..."
                type="button" @click="sendQuest()">测试
                </button>
                <button id="fat-btn" class="btn btn-primary" data-loading-text="Loading..."
                type="button" @click="saveQuest()">保存
                </button>
            </div>
		</div><!-- /.row -->
	</form>

    <ul class="nav nav-tabs" >
        <li v-bind:class="{active:isActive0}"><a v-on:click="makeFrom(0)">请求头部</a></li>
        <li v-bind:class="{active:isActive1}"><a v-on:click="makeFrom(1)">请求体</a></li>
        <li v-bind:class="{active:isActive2}"><a v-on:click="makeFrom(2)">GET/URL参数</a></li>
        <li v-bind:class="{active:isActive3}"><a v-on:click="makeFrom(3)">REST参数</a></li>
        <li v-bind:class="{active:isActive4}"><a v-on:click="makeFrom(4)">权限校验</a></li>
        <li v-bind:class="{active:isActive5}"><a v-on:click="makeFrom(5)">预处理</a></li>
        <li v-bind:class="{active:isActive6}"><a v-on:click="makeFrom(6)">高级设置</a></li>
    </ul>
    <div class="row" v-if="showState === 1">
        <div class="col-lg-1 radio ">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked  @click="showBodyform(0)"> Form-data
        </label>
        </div>
        <div class=" col-lg-1 radio " style="margin-top: 10px">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option2"  @click="showBodyform(1)"> JSON
        </label>
        </div>
        <div class="col-lg-1 radio " style="margin-top: 10px">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option3"  @click="showBodyform(2)"> XML
        </label>
        </div>
        <div class="col-lg-1 radio" style="margin-top: 10px">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option4"  @click="showBodyform(3)"> Raw
        </label>
        </div>
    </div>
    <table class="table table-bordered" v-if="(showState === 0) " style="width: 70%" >
          <thead>
            <tr>
              <th>标签</th>
              <th>内容</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="headerVal,index in headerVals">
                <td col-xs-4><select class="form-control" name="selectPrio" v-model="headerVal.type" >
                    <option value="" selected>头部标签</option>
                    <option value="Content-Type" >Content-Type</option>
                    <option value="Accept" >Accept</option>
                    <option value="Accept-Charset" >Accept-Charset</option>
                    <option value="Accept-Encoding" >Accept-Encoding</option>
                    <option value="Accept-Language" >Accept-Language</option>
                    <option value="User-Agent" >User-Agent</option>
                    <option value="Cookie" >Cookie</option>
                    <option value="Content-Length" >Content-Length</option>
                    <option value="Connection" >Connection</option>
                    <option value="Authorization" >Authorization</option>
                </select></td>
                <td col-xs-3><input type="text" class="form-control" id="name" placeholder="头部内容" v-model="headerVal.value">{{ headerVal.value  }}</td>
                <td col-xs-3><button type="button" class="btn btn-primary" @click="insertTable(showState,showbodyState=false)">增加</button>
                             <button type="button" class="btn btn-danger" @click="deleteHeader(index,showState,showbodyState=false)">删除</button></td>
            </tr>
          </tbody>
    </table>
    <table class="table table-bordered" v-if="(showState === 1 && showbodyState === 0)" style="width: 70%">
          <thead>
            <tr>
              <th>参数名</th>
              <th>类型</th>
              <th>参数值</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="bodyFVal,index in bodyFVals">
                <td col-xs-1><input type="text" class="form-control" id="name" placeholder="参数名" v-model="bodyFVal.name">{{ bodyFVal.name }}</td>
                <td col-xs-4><select class="form-control" name="selectPrior" v-model="bodyFVal.type">
                    <option value="Text" selected>Text</option>
                    <option value="file" >file</option>
                </select></td>
                <td col-xs-3><input type="text" class="form-control" id="name" placeholder="参数值" v-model="bodyFVal.value">{{ bodyFVal.value }}</td>
                <td col-xs-3><button type="button" class="btn btn-primary" @click="insertTable(showState,showbodyState)">增加</button>
                             <button type="button" class="btn btn-danger" @click="deleteHeader(index,showState,showbodyState)">删除</button></td>
            </tr>
          </tbody>
    </table>
    <table class="table table-bordered" v-if="(showState === 1 && showbodyState === 1)" style="width: 70%">
          <thead>
            <tr>
              <th>参数名</th>
              <th>类型</th>
              <th>参数值</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="bodyJVal,index in bodyJVals">
                <td col-xs-1><input type="text" class="form-control" id="name" placeholder="参数名" v-model="bodyJVal.name">{{ bodyJVal.name }}</td>
                <td col-xs-4><select class="form-control" name="selectPrior" v-model="bodyJVal.type">
                    <option value="String" selected>String</option>
                    <option value="boolean" >boolean</option>
                    <option value="array" >array</option>
                    <option value="number" >number</option>
                    <option value="object" >object</option>
                    <option value="null" >null</option>
                </select></td>
                <td col-xs-3><input type="text" class="form-control" id="name" placeholder="参数值" v-model="bodyJVal.value" >{{ bodyJVal.value }}</td>
                <td col-xs-3><button type="button" class="btn btn-primary" @click="insertTable(showState,showbodyState)">增加</button>
                             <button type="button" class="btn btn-danger" @click="deleteHeader(index,showState,showbodyState)">删除</button></td>
            </tr>
          </tbody>
    </table>
    <table class="table table-bordered" v-if="(showState === 1 && showbodyState === 2)" style="width: 70%">
          <thead>
            <tr>
              <th>参数名</th>
              <th>类型</th>
              <th>参数值</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="bodyXVal,index in bodyXVals">
                <td col-xs-1><input type="text" class="form-control" id="name" placeholder="参数名" v-model="bodyXVal.name">{{ bodyXVal.name }}</td>
                <td col-xs-4><select class="form-control" name="selectPrior" v-model="bodyXVal.type" >
                    <option value="Object" selected>Object</option>

                </select></td>
                <td col-xs-3><input type="text" class="form-control" id="name" placeholder="参数值" v-model="bodyXVal.value">{{ bodyXVal.value }}</td>
                <td col-xs-3><button type="button" class="btn btn-primary" @click="insertTable(showState,showbodyState)">增加</button>
                             <button type="button" class="btn btn-danger" @click="deleteHeader(index,showState,showbodyState)">删除</button></td>
            </tr>
          </tbody>
    </table>
    <div class="row" style="width:75% " v-if="(showState === 1 && showbodyState === 3) ">
         <div class="col-lg-12 form-group">
                <label for="name">ROW数据</label>
                <textarea class="form-control" rows="15" v-model="rawValue"></textarea>
         </div>
     </div>
    <table class="table table-bordered" v-if="showState === 2">
          <thead>
            <tr>
              <th>666</th>
              <th>777</th>
              <th>888</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Tanmay</td>
              <td>Bangalore</td>
              <td>560001</td>
            </tr>
            <tr>
              <td>Sachin</td>
              <td>Mumbai</td>
              <td>400003</td>
            </tr>
            <tr>
              <td>Uma</td>
              <td>Pune</td>
              <td>411027</td>
            </tr>
          </tbody>
    </table>
    <p v-if="showState === 3">333333</p>
    <p v-if="showState === 4">444444</p>
    <p v-if="showState === 5">5555555</p>
    <p v-if="showState === 6">66666666</p>
    <div class="row" style="width:75% " >
         <div class="col-lg-6 form-group">
                <label for="name">请求数据</label>
                <textarea v-model="request_infor" class="form-control" rows="15"></textarea>
         </div>
         <div class="col-lg-6 form-group" >
                <label for="name">请求结果</label>
                <div id="jsoneditor">
                {% comment %}<textarea id="jsoneditor" v-model="result" class="json-editor" rows="15"></textarea>{% endcomment %}
                </div>
         </div>
     </div>
</div>
</div>
{% endblock %}
{% block vuejs1 %}
<script type="text/javascript">
var vm = new Vue({
    delimiters: ['{!', '!}'],
    el:'#app2',
    data:{
        //样式选中互斥
        showState: 0,
        showbodyState:0,
        isActive0:true,
        isActive1:false,
        isActive2:false,
        isActive3:false,
        isActive4:false,
        isActive5:false,
        isActive6:false,
        header:"",
        resultData:{},
        listcass:[{
            active:"active",
            num:0,
            name:"请求头部"
        },
        {
            active:"",
            num:1,
            name:"请求ti"
        }],
        //增加删除列表
        headerVals:[{
            type:"",
            value:""
        }],
        bodyFVals:[{
            type:"",
            name:"",
            value:""
        }],
        bodyJVals:[{
            type:"",
            name:"",
            value:""
        }],
        bodyXVals:[{
            type:"",
            name:"",
            value:""
        }],
        //获取请求方式
        method:"请求方式",
        //请求url
        url:"",
        result:"",
        request_infor:"",
        checked:true,
        rawValue:"",
        count:1

    },
    created(){
       vm1.$data.isActiveSi=true;
       vm1.$data.isActiveIn=false;
       vm1.$data.isActiveAl=false;
       this.getEdit(this.resultData)
    },
    methods:{
        getEdit(json){
            var container = document.getElementById('jsoneditor');
            var options = {
                mode: 'view'
              };
            var editor = new JSONEditor(container, options, json);
        },
        changeCss(params){
            switch (params) {
                case 0:
                    this.isActive0=true;
                    this.isActive1=false;
                    this.isActive2=false;
                    this.isActive3=false;
                    this.isActive4=false;
                    this.isActive5=false;
                    this.isActive6=false;
                    break;
                case 1:
                    this.isActive0=false;
                    this.isActive1=true;
                    this.isActive2=false;
                    this.isActive3=false;
                    this.isActive4=false;
                    this.isActive5=false;
                    this.isActive6=false;
                    break;
                case 2:
                    this.isActive0=false;
                    this.isActive1=false;
                    this.isActive2=true;
                    this.isActive3=false;
                    this.isActive4=false;
                    this.isActive5=false;
                    this.isActive6=false;
                    break;
                case 3:
                    this.isActive0=false;
                    this.isActive1=false;
                    this.isActive2=false;
                    this.isActive3=true;
                    this.isActive4=false;
                    this.isActive5=false;
                    this.isActive6=false;
                    break;
                case 4:
                    this.isActive0=false;
                    this.isActive1=false;
                    this.isActive2=false;
                    this.isActive3=false;
                    this.isActive4=true;
                    this.isActive5=false;
                    this.isActive6=false;
                    break;
                case 5:
                    this.isActive0=false;
                    this.isActive1=false;
                    this.isActive2=false;
                    this.isActive3=false;
                    this.isActive4=false;
                    this.isActive5=true;
                    this.isActive6=false;
                    break;
                case 6:
                    this.isActive0=false;
                    this.isActive1=false;
                    this.isActive2=false;
                    this.isActive3=false;
                    this.isActive4=false;
                    this.isActive5=false;
                    this.isActive6=true;

            }

        },
        makeFrom(params){
            this.showState = params;
            this.showbodyState=0;
            this.changeCss(params);
        },
        showBodyform(params){
            this.showbodyState = params;
            if(params===0&&this.showState===1){
                this.bodyJVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.bodyXVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.rawValue=""
            }else if(params===1&&this.showState===1){
                this.bodyFVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.bodyXVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.rawValue=""
            }else if(params===2&&this.showState===1){
                console.log(this.rawValue);
                this.bodyFVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.bodyJVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.rawValue=""
            }else if(params===3&&this.showState===1){
                this.bodyFVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.bodyJVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.bodyXVals=[{
                    type:"",
                    name:"",
                    value:""
                }];

            }
        },
        insertTable(params,params1){
            console.log(params);
            var newheaderVals={
                type:"",
                value:""
            };
            var newheaderVals1={
                type:"",
                name:"",
                value:""
            };
            if(params===0){
                this.headerVals.push(newheaderVals);
            }else if(params===1&&params1===0){
                this.bodyFVals.push(newheaderVals1)
            }else if(params===1&&params1===1){
                this.bodyJVals.push(newheaderVals1)
            }else if(params===1&&params1===2){
                this.bodyXVals.push(newheaderVals1)
            }

        },
        deleteHeader(index,params,params1){
            var lengthHeader = this.headerVals.length;
            var lengthBodyF = this.bodyFVals.length;
            var lengthBodyX = this.bodyXVals.length;
            var lengthBodyJ = this.bodyJVals.length;
            if(params===0&&lengthHeader>1){
                this.headerVals.splice(index, 1);
            }else if(params===1&&params1===0&& lengthBodyF>1){
                this.bodyFVals.splice(index, 1);
            }else if(params===1&&params1===1&& lengthBodyJ>1){
                this.bodyJVals.splice(index, 1);
            }else if(params===1&&params1===2&& lengthBodyX>1){
                this.bodyXVals.splice(index, 1);
            }
        },
        getMethod(params){
            this.method = params
        },
        sendQuest() {
            var methods = this.method;
            var posturl = this.url;
            var headerinfor = {};
            for (var i = 0; i < this.headerVals.length; i++) {
                var Htype = this.headerVals[i].type;
                var Hvalue = this.headerVals[i].value;
                if(Htype!==""&&Hvalue!==""){
                     headerinfor[Htype] = Hvalue
                }
            }
            var bodyArr = [];
            var bodyinfor = {};
            //console.log(this.showState,this.showbodyState);
            if (this.showState === 1 && this.showbodyState === 0) {
                headerinfor["Content-Type"] = "multipart/form-data";
                for (var j = 0; j < this.bodyFVals.length; j++) {
                    bodyinfor = {};
                    bodyinfor["参数类型"] = this.bodyFVals[j].type;
                    bodyinfor["参数值"] = this.bodyFVals[j].value;
                    bodyinfor["参数名"] = this.bodyFVals[j].name;
                    bodyArr.push(bodyinfor)
                }
            }
            else if (this.showState === 1 && this.showbodyState === 1) {
                headerinfor["Content-Type"] = "application/json";
                for (var k = 0; k < this.bodyJVals.length; k++) {
                    bodyinfor = {};
                    bodyinfor["参数类型"] = this.bodyJVals[k].type;
                    bodyinfor["参数值"] = this.bodyJVals[k].value;
                    bodyinfor["参数名"] = this.bodyJVals[k].name;
                    bodyArr.push(bodyinfor)
                }
            }
            else if (this.showState === 1 && this.showbodyState === 2) {
                headerinfor["Content-Type"] = "application/xml";
                for (var l = 0; l < this.bodyXVals.length; l++) {
                    bodyinfor = {};
                    bodyinfor["参数类型"] = this.bodyXVals[l].type;
                    bodyinfor["参数值"] = this.bodyXVals[l].value;
                    bodyinfor["参数名"] = this.bodyXVals[l].name;
                    bodyArr.push(bodyinfor)
                }
            }
            else if (this.showState === 1 && this.showbodyState === 3) {
                bodyinfor = {};
                headerinfor["Content-Type"] = "text/plain";
                bodyinfor["参数值"] = this.rawValue;
                bodyArr.push(bodyinfor)
            }
            var hreader_str = JSON.stringify(headerinfor);
            var body_str = "";
            for(var c=0;c<bodyArr.length;c++){
                body_str =body_str+JSON.stringify(bodyArr[c]);
            }
            console.log(bodyArr);
            var request_str = "请求方式："+ methods +"\n" +"请求地址："+ posturl+"\n"+"请求头部："+hreader_str+
                                "\n"+"请求参数："+body_str;
            this.request_infor = request_str;
            data_to_send = {
                methods:methods,
                url:posturl,
                headers:headerinfor,
                bodyinfor:bodyArr
            };
            axios.post('/sendRequest/',data_to_send)
             .then(resp =>{
                        this.getEdit(resp.data)
                    }).catch(err=>{
                        console.log('请求失败:'+err.status+','+err.statusText);
                })
        }
    },
}).$mount('div')
</script>
{% endblock %}