{% extends 'index.html' %}
{% block title %}<title> 首页</title> {% endblock %}
{% block content %}
    <!--<div class="row" style="border: #337ab7">-->
<div class="col-md-10 row" id ="app2">
 <div class="row">
    {% comment %}<form class="bs-example bs-example-form" role="form">
		<div class="row" >
			<div class="col-lg-6">
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							HOST
						</button>
					</div><!-- /btn-group -->
					<input v-model="url" type="text" class="form-control" placeholder="请求HOST">
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
            <div class="col-lg-3">
            </div>
		</div><!-- /.row -->
	</form>{% endcomment %}
	<form class="bs-example bs-example-form" role="form">
		<div class="row" >
            <div class="col-lg-3">
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							HOST
						</button>
					</div><!-- /btn-group -->
					<input  type="text" v-model="host" class="form-control" placeholder="请求HOST">
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
			<div class="col-lg-6" style="padding-left: 0px">
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{! method !}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a @click="getMethod('GET')">GET</a></li>
							<li><a @click="getMethod('POST')">POST</a></li>
						</ul>
					</div><!-- /btn-group -->
					<input v-model="url" type="text" class="form-control" placeholder="请求地址">
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
            <div class="col-lg-3">
                <button id="fat-btn" class="btn btn-success" data-loading-text="Loading..."
                type="button" @click="sendQuest()">测试
                </button>
                <button id="fat-btn" class="btn btn-primary" data-toggle="modal" data-target="#newcase"
                type="button" @click="getProjectList()">保存
                </button>
            </div>
		</div><!-- /.row -->
	</form>
    <ul class="nav nav-tabs" >
        <li v-bind:class="{active:isActive0}"><a v-on:click="makeFrom(0)">请求头部</a></li>
        <li v-bind:class="{active:isActive1}"><a v-on:click="makeFrom(1)">请求体</a></li>
        <li v-bind:class="{active:isActive2}"><a v-on:click="makeFrom(2)">GET/URL参数</a></li>
        {% comment %}<li v-bind:class="{active:isActive3}"><a v-on:click="makeFrom(3)">REST参数</a></li>{% endcomment %}
        <li v-bind:class="{active:isActive4}"><a v-on:click="makeFrom(4)">请求加密</a></li>
        <li v-bind:class="{active:isActive5}"><a v-on:click="makeFrom(5)">权限校验</a></li>
        <li v-bind:class="{active:isActive6}"><a v-on:click="makeFrom(6)">高级设置</a></li>
    </ul>
    <div class="row" v-if="showState === 1">
        <div class="col-lg-1 radio ">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" v-model="checkv" @click="showBodyform(0)"> Form-data
        </label>
        </div>
        <div class=" col-lg-1 radio " style="margin-top: 10px">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option2" v-model="checkv"  @click="showBodyform(1)"> JSON
        </label>
        </div>
        <div class="col-lg-1 radio " style="margin-top: 10px">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option3" v-model="checkv" @click="showBodyform(2)"> XML
        </label>
        </div>
        <div class="col-lg-1 radio" style="margin-top: 10px">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option4" v-model="checkv"  @click="showBodyform(3)"> Raw
        </label>
        </div>
    </div>
    <table class="table table-bordered" v-if="(showState === 0) " style="width: 70%" >

           <thead>
           <tr>
           <th colspan="3"><a class="btn btn-info btn-sm" data-toggle="modal" data-target="#loadHeader">
              <span class="glyphicon glyphicon-save"></span> 导入
           </a></th></tr>
           <tr>
              <th>标签</th>
              <th>内容</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody >
            <tr v-for="headerVal,index in headerVals">
                <td col-xs-4><select class="form-control" name="selectPrio" v-model="headerVal.type" >
                    <option value="" selected>头部标签</option>
                    <option value="Content-Type" >Content-Type</option>
                    <option value="Accept" >Accept</option>
                    <option value="Accept-Charset" >Accept-Charset</option>
                    <option value="Accept-Encoding" >Accept-Encoding</option>
                    <option value="Accept-Language" >Accept-Language</option>
                    <option value="User-Agent" >User-Agent</option>
                    <option value="Cookie" >Cookie</option>
                    <option value="Content-Length" >Content-Length</option>
                    <option value="Connection" >Connection</option>
                    <option value="Authorization" >Authorization</option>
                    <option value="X-Requested-With" >X-Requested-With</option>
                    <option value="X-encryptflag" >X-encryptflag</option>
                </select></td>
                <td col-xs-3><input type="text" class="form-control" id="name" placeholder="头部内容" v-model="headerVal.value">{{ headerVal.value  }}</td>
                <td col-xs-3><button type="button" class="btn btn-primary" @click="insertTable(showState,showbodyState)">增加</button>
                             <button type="button" class="btn btn-danger" @click="deleteHeader(index,showState,showbodyState)">删除</button></td>
            </tr>
          </tbody>
    </table>
    <table class="table table-bordered" v-if="(showState === 1 && showbodyState === 0)" style="width: 70%">
          <thead>
            <tr>
              <th>参数名</th>
              <th>类型</th>
              <th>参数值</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="bodyFVal,index in bodyFVals">
                <td col-xs-1><input type="text" class="form-control" id="name" placeholder="参数名" v-model="bodyFVal.name">{{ bodyFVal.name }}</td>
                <td col-xs-4><select class="form-control" name="selectPrior" v-model="bodyFVal.type">
                    <option value="Text" selected>Text</option>
                    <option value="file" >file</option>
                </select></td>
                <td col-xs-3><input type="text" class="form-control" id="name" placeholder="参数值" v-model="bodyFVal.value">{{ bodyFVal.value }}</td>
                <td col-xs-3><button type="button" class="btn btn-primary" @click="insertTable(showState,showbodyState)">增加</button>
                             <button type="button" class="btn btn-danger" @click="deleteHeader(index,showState,showbodyState)">删除</button></td>
            </tr>
          </tbody>
    </table>
    <table class="table table-bordered" v-if="(showState === 1 && showbodyState === 1)" style="width: 70%">
          <thead>
            <tr>
              <th>参数名</th>
              <th>类型</th>
              <th>参数值</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="bodyJVal,index in bodyJVals">
                <td col-xs-1><input type="text" class="form-control" id="name" placeholder="参数名" v-model="bodyJVal.name">{{ bodyJVal.name }}</td>
                <td col-xs-4><select class="form-control" name="selectPrior" v-model="bodyJVal.type">
                    <option value="String" selected>String</option>
                    <option value="boolean" >boolean</option>
                    <option value="array" >array</option>
                    <option value="number" >number</option>
                    <option value="object" >object</option>
                    <option value="null" >null</option>
                </select></td>
                <td col-xs-3><input type="text" class="form-control" id="name" placeholder="参数值" v-model="bodyJVal.value" >{{ bodyJVal.value }}</td>
                <td col-xs-3><button type="button" class="btn btn-primary" @click="insertTable(showState,showbodyState)">增加</button>
                    <button type="button" class="btn btn-danger" @click="deleteHeader(index,showState,showbodyState)">删除</button></td>
            </tr>
          </tbody>
    </table>
    <table class="table table-bordered" v-if="(showState === 1 && showbodyState === 2)" style="width: 70%">
          <thead>
            <tr>
              <th>参数名</th>
              <th>类型</th>
              <th>参数值</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="bodyXVal,index in bodyXVals">
                <td col-xs-1><input type="text" class="form-control" id="name" placeholder="参数名" v-model="bodyXVal.name">{{ bodyXVal.name }}</td>
                <td col-xs-4><select class="form-control" name="selectPrior" v-model="bodyXVal.type" >
                    <option value="Object" selected>Object</option>

                </select></td>
                <td col-xs-3><input type="text" class="form-control" id="name" placeholder="参数值" v-model="bodyXVal.value">{{ bodyXVal.value }}</td>
                <td col-xs-3><button type="button" class="btn btn-primary" @click="insertTable(showState,showbodyState)">增加</button>
                             <button type="button" class="btn btn-danger" @click="deleteHeader(index,showState,showbodyState)">删除</button></td>
            </tr>
          </tbody>
    </table>
    <div class="row" style="width:75% " v-if="(showState === 1 && showbodyState === 3) ">
         <div class="col-lg-12 form-group">
                <label for="name">ROW数据</label>
                <textarea class="form-control" rows="15" v-model="rawValue"></textarea>
         </div>
     </div>
    <table class="table table-bordered" v-if="showState === 2" style="width: 70%">
          <thead>
            <tr>
              <th>参数名</th>
              <th>参数值</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="getVal,index in getVals">
             <td col-xs-1><input type="text" class="form-control" id="name" placeholder="参数名" v-model="getVal.name">{{ getVal.name }}</td>
             <td col-xs-1><input type="text" class="form-control" id="name" placeholder="参数值" v-model="getVal.value">{{ getVal.value }}</td>
             <td col-xs-3><button type="button" class="btn btn-primary" @click="insertTable(showState,showbodyState)">增加</button>
                    <button type="button" class="btn btn-danger" @click="deleteHeader(index,showState,showbodyState)">删除</button></td>
            </tr>
          </tbody>
    </table>
    {% comment %}<p v-if="showState === 3">333333</p>{% endcomment %}
    <div v-if="showState === 4"  style="padding-top: 20px" >
        <form role="form" class="form-horizontal">
                            <div class="form-group">
                               <label  for="version" class="col-sm-1">secret_key:</label>
                               <div class="col-sm-4">
                               <input  class="form-control"  v-model="secret_key" >
                               </input>
                               </div>
                                <div class="col-sm-7"></div>
                            </div>
                            <div class="form-group">
                               <label  for="version" class="col-sm-1">key_id:</label>
                               <div class="col-sm-4">
                                   <input  class="form-control"  v-model="key_id" >
                               </div>
                                <div class="col-sm-7"><button  type="button" class="btn btn-primary" @click="returnAuthorization()">生成</button></div>
                            </div>

                            <div class="form-group">
                                 <label  for="version" class="col-sm-1">Authorization:</label>
                               <div class="col-sm-7">
                                   <textarea  class="form-control"  v-model="Authorization" rows="3" ></textarea>
                               </div>
                                <div class="col-sm-4"></div>
                        </div>
                        </form>
    </div>
    <div v-if="showState === 5">
        <form role="form" class="form-horizontal">
        <h4>Authorization</h4><br>
        <div class="form-group">
          <label  for="version" class="col-sm-1">用户名:</label>
          <div class="col-sm-3">
            <input  class="form-control"  placeholder="请输入用户名">
       </div>
        </div>
        <div class="form-group">
            <label  for="version" class="col-sm-1">密码:</label>
            <div class="col-sm-3">
                <input  class="form-control" placeholder="请输入密码">
            </div>
        </div>
        </form>
    </div>
    <div v-if="showState === 6" style="border: 1px solid #ccc;padding-left: 25px;padding-top: 20px;width: 70%">
        <form role="form" class="form-horizontal">
        <div class="form-group">
            <label  for="version" >是否跟随重定向:&nbsp;&nbsp;&nbsp;&nbsp;
            <input  v-model="isRediret" type="checkbox" data-size="small" value="2" ></label><br>

        </div>
        <div class="form-group">
            <label  for="version" >接口是否加密:</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input v-model="isScreat"  type="checkbox" value="1" id="isTeam" ><br>
        </div>
        </form>
    </div>
    <div class="row" style="width:75% " >
         <div class="col-lg-6 form-group">
                <label for="name">请求数据</label>
                <textarea v-model="request_infor" class="form-control" rows="15"></textarea>
         </div>
         <div class="col-lg-6 form-group" >
                <label for="name">请求结果</label>
                <div class="form-control"  style="height: 314px">
                <div  id="jsoneditor" style="height: 100%">
                {% comment %}<textarea  v-model="result" class="form-control" rows="15"></textarea>{% endcomment %}
                </div>
                </div>
         </div>
     </div>
    <!--模态窗口-->
    <div class="modal fade" id="newcase" tabindex="-1" role="dialog" aria-labelledby="newapiLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 450px;margin: 75px auto">
                    <div class="modal-content" id="newinfo">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="newapiLabel">
                                保存用例
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" class="form-horizontal">
                            <div class="form-group">
                               <label  for="version" class="col-sm-3">用例名称:</label>
                               <div class="col-sm-7">
                               <input  class="form-control"  v-model="caseName" placeholder="请输入用例名称">
                               </input>
                               </div>
                                <div class="col-sm-2"></div>
                            </div>
                            <div class="form-group">
                               <label  for="version" class="col-sm-3">项目名称:</label>
                               <div class="col-sm-7">
                               <select  class="form-control" name="selectPrior" v-model="projectSelect" @change="selectModel($event)">
                                   <option value="" selected>请选择</option>
                                   <option  v-for="item in projectList" :value="item">{! item !}</option>
                               </select>
                               </div>
                                <div class="col-sm-2"></div>
                            </div>
                            <div class="form-group">
                               <label  for="version" class="col-sm-3">模块名称:</label>
                               <div class="col-sm-7">
                               <select class="form-control" name="selectPrior" v-model="modelSelect">
                                 <option value="" selected>请选择</option>
                                 <option  v-for="model in modelList" :value="model" >{! model !}</option></select>
                               <div class="col-sm-2"></div>
                            </div>
                        </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <input type="submit" class="btn btn-primary" @click="newCase()" data-dismiss="modal"/>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
</div>
      <!--模态窗口导入Header-->
    <div class="modal fade" id="loadHeader" tabindex="-1" role="dialog" aria-labelledby="newapiLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 500px;margin: 50px auto">
                    <div class="modal-content" id="newinfo">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="newapiLabel">
                                导入头部数据
                            </h4>
                        </div>
                        <div class="modal-body">
                            <textarea class="form-control" rows="8" v-model="headerText" placeholder="请输入形式为json格式字符串数据,
     例如：{'data':0,'msg':123}"></textarea>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <input type="submit" class="btn btn-primary" @click="loadHeader()" data-dismiss="modal"/>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
</div>
     <!--提示框-->
</div>
</div>
{% endblock %}
{% block vuejs1 %}
<script type="text/javascript">
var vm = new Vue({
    delimiters: ['{!', '!}'],
    el:'#app2',
    data() {
        return {
            checkv : "option1",
            //样式选中互斥
            isRediret: "",
            isScreat:"",
            aid:"",
            initflag:false,
            showState: 0,
            showbodyState: 0,
            isActive0: true,
            isActive1: false,
            isActive2: false,
            isActive3: false,
            isActive4: false,
            isActive5: false,
            isActive6: false,
            header: "",
            resultData: {},
            listcass: [{
                active: "active",
                num: 0,
                name: "请求头部"
            },
                {
                    active: "",
                    num: 1,
                    name: "请求ti"
                }],
            //增加删除列表
            headerVals: [{
                type: "",
                value: ""
            }],
            bodyFVals: [{
                type: "",
                name: "",
                value: ""
            }],
            bodyJVals: [{
                type: "",
                name: "",
                value: ""
            }],
            bodyXVals: [{
                type: "",
                name: "",
                value: ""
            }],
            getVals:[{
                 name: "",
                value: ""
            }],
            //获取请求方式
            method: "请求方式",
            //请求url
            url: "",
            host:"",
            result: "",
            request_infor: "",
            checked: true,
            rawValue: "",
            count: 1,
            projectList: [],
            modelList:[],
            projectSelect: "",
            allmodels:"",
            modelSelect:"",
            data_to_send :{},
            caseName:"",
            //交易认证参数
            secret_key:"",
            key_id:"",
            Authorization:"",
            headerText:"",
        }
    },
    created(){
       vm1.$data.isActiveSi=true;
       vm1.$data.isActiveIn=false;
       vm1.$data.isActiveAl=false;
    },
    mounted:function(){
        let args = location.search.substr(1);
        if(args){
            this.initflag=true;
            this.initInfos(args);
        }
    },
    methods:{
        initInfos(args){
            let param={};
            if(args !== ""){
                let strs = args.split("&");
                for(let i = 0; i < strs.length; i++) {
                     param[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
                }
            }
            let id = param["id"];
            this.aid = id;
            console.log(id);
            axios.get('/getapiInfos/',{
                    params: {
                        apiid:id,
                    }
                })
                .then(resp =>{
                    console.log(resp.data);
                    let result = resp.data;
                    this.url = result.datas.url;
                    if(result.datas.method !== ""){
                        this.method = result.datas.method;
                    }
                    this.projectSelect = result.datas.projectName;
                    this.modelList = result.module_list;
                    this.modelSelect = result.datas.moduleName;
                    console.log(this.modelSelect);
                    this.caseName = result.datas.name;
                    this.headerVals = result.datas.header;
                    console.log("***",this.headerVals);
                    console.log("---",result.datas.body);
                    console.log(result.datas.body.length);
                    if(result.datas.body.length !== 0) {
                        let bodyinfo = result.datas.body;
                        let showbody = result.showbody;
                        console.log("showbody:",showbody);
                        if(showbody === 0){
                            this.showbodyState = showbody;
                            this.checkv = "option1";
                            this.bodyFVals = bodyinfo;
                        }else if(showbody === 1){
                            console.log("body:",bodyinfo);
                            this.showbodyState = showbody;
                            this.checkv = "option2";
                            this.bodyJVals = bodyinfo;
                        }else if(showbody === 2){
                            this.showbodyState = showbody;
                            this.checkv = "option3";
                            this.bodyXVals = bodyinfo;
                        }else{
                            this.showbodyState = showbody;
                            this.checkv = "option4";
                            this.rawValue = result.datas.body[0].value;
                        }
                    }
                }).catch(err=> {
                console.log('请求失败:' + err.status + ',' + err.statusText);
            })
        },
        //获取所有项目列表
        getProjectList(){
            axios.get("/getProjectList/",params={}).then(response => {
                    console.log(response.data);
                    var returnlist = [];
                    this.allmodels = response.data.model_list;
                    for(var p=0;p<response.data.project_list.length;p++){
                        console.log(response.data.project_list[p]);
                        var name = response.data.project_list[p]["projectName"];
                        console.log(name);
                        returnlist.push(name);
                    }
                    this.projectList = returnlist;
                    console.log(this.projectList);
                }).catch(err=>{
                        console.log('请求失败:'+err.status+','+err.statusText);
                })
        },
        //获取项目对应模块名称
        selectModel(e){
             console.log(e.target.value);
             this.modelList=[];
             var params = e.target.value;
             var models = this.allmodels;
             console.log(this.allmodels);
             for(var q=0;q<models.length;q++){
                 var name = models[q]["projectName"];
                 if(params===name) {
                     if(this.modelList.length===0){
                         this.modelList.push(models[q]["moduleName"])
                     }
                     else{
                         for (var r = 0; r < this.modelList.length; r++) {
                         if (models[q]["moduleName"] === this.modelList[r]){
                                break
                            }
                         else{
                         this.modelList.push(models[q]["moduleName"])}
                        }
                     }
                 }
             }
             console.log(this.modelList);
        },
        getEdit(json){

            var container = document.getElementById('jsoneditor');
            //var container2 = document.getElementById('jsoneditor1');
            var options = {
            mode: 'text',
            modes: ['text', 'code'],
            onEditable: function (node) {
              if (!node.path) {
                // In modes code and text, node is empty: no path, field, or value
                // returning false makes the text area read-only
                return false;
              }
            },
            onError: function (err) {
              alert(err.toString());
            },
            onModeChange: function (newMode, oldMode) {
                  console.log('Mode switched from', oldMode, 'to', newMode);
                }
              };
                var editor1 = new JSONEditor(container, options, json);
            //var editor2 = new JSONEditor(container2, options, json);
        },
        changeCss(params){
            switch (params) {
                case 0:
                    this.isActive0=true;
                    this.isActive1=false;
                    this.isActive2=false;
                    this.isActive3=false;
                    this.isActive4=false;
                    this.isActive5=false;
                    this.isActive6=false;
                    break;
                case 1:
                    this.isActive0=false;
                    this.isActive1=true;
                    this.isActive2=false;
                    this.isActive3=false;
                    this.isActive4=false;
                    this.isActive5=false;
                    this.isActive6=false;
                    break;
                case 2:
                    this.isActive0=false;
                    this.isActive1=false;
                    this.isActive2=true;
                    this.isActive3=false;
                    this.isActive4=false;
                    this.isActive5=false;
                    this.isActive6=false;
                    break;
                case 3:
                    this.isActive0=false;
                    this.isActive1=false;
                    this.isActive2=false;
                    this.isActive3=true;
                    this.isActive4=false;
                    this.isActive5=false;
                    this.isActive6=false;
                    break;
                case 4:
                    this.isActive0=false;
                    this.isActive1=false;
                    this.isActive2=false;
                    this.isActive3=false;
                    this.isActive4=true;
                    this.isActive5=false;
                    this.isActive6=false;
                    break;
                case 5:
                    this.isActive0=false;
                    this.isActive1=false;
                    this.isActive2=false;
                    this.isActive3=false;
                    this.isActive4=false;
                    this.isActive5=true;
                    this.isActive6=false;
                    break;
                case 6:
                    this.isActive0=false;
                    this.isActive1=false;
                    this.isActive2=false;
                    this.isActive3=false;
                    this.isActive4=false;
                    this.isActive5=false;
                    this.isActive6=true;

            }

        },
        makeFrom(params){
            if(this.initflag === false){
                this.showState = params;
                this.showbodyState=0;
                this.changeCss(params);
            }else{
                this.showState = params;
                this.changeCss(params);
            }
        },
        showBodyform(params){
            this.showbodyState = params;
            if(params===0&&this.showState===1){
                this.bodyJVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.bodyXVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.rawValue=""
            }else if(params===1&&this.showState===1){
                this.bodyFVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.bodyXVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.rawValue=""
            }else if(params===2&&this.showState===1){
                console.log(this.rawValue);
                this.bodyFVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.bodyJVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.rawValue=""
            }else if(params===3&&this.showState===1){
                this.bodyFVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.bodyJVals=[{
                    type:"",
                    name:"",
                    value:""
                }];
                this.bodyXVals=[{
                    type:"",
                    name:"",
                    value:""
                }];

            }
        },
        insertTable(params,params1){
            console.log(params);
            var newheaderVals={
                type:"",
                value:""
            };
            var newheaderVals1={
                type:"",
                name:"",
                value:""
            };
            var newgetVals={
                name:"",
                value:""
            };
            if(params===0){
                this.headerVals.push(newheaderVals);
            }else if(params===1&&params1===0){
                this.bodyFVals.push(newheaderVals1)
            }else if(params===1&&params1===1){
                this.bodyJVals.push(newheaderVals1)
            }else if(params===1&&params1===2){
                this.bodyXVals.push(newheaderVals1)
            }else if(params===2){
                this.getVals.push(newgetVals)
            }

        },
        deleteHeader(index,params,params1){
            var lengthHeader = this.headerVals.length;
            var lengthBodyF = this.bodyFVals.length;
            var lengthBodyX = this.bodyXVals.length;
            var lengthBodyJ = this.bodyJVals.length;
            var lengthGet = this.getVals.length;
            if(params===0&&lengthHeader>1){
                this.headerVals.splice(index, 1);
            }else if(params===1&&params1===0&& lengthBodyF>1){
                this.bodyFVals.splice(index, 1);
            }else if(params===1&&params1===1&& lengthBodyJ>1){
                this.bodyJVals.splice(index, 1);
            }else if(params===1&&params1===2&& lengthBodyX>1){
                this.bodyXVals.splice(index, 1);
            }else if(params===2&&lengthGet>1){
                this.getVals.splice(index, 1);
            }
        },
        getMethod(params){
            this.method = params
        },
        sendQuest() {
             this.mulData();
             console.log(this.data_to_send);
             var hreader_str = JSON.stringify(this.data_to_send["headers"]);
             var body_str = "";
             for(var c=0;c<this.data_to_send["bodyinfor"].length;c++){
                body_str =body_str+JSON.stringify(this.data_to_send["bodyinfor"][c]);
            }
             console.log(body_str);
             var requestStr = "请求方式："+ this.data_to_send["methods"] +"\n" +"请求地址："+ this.data_to_send["url"]+"\n"+"请求头部："+hreader_str+
                                "\n"+"请求参数："+body_str;
             this.request_infor = requestStr;
             axios.post('/sendRequest/',this.data_to_send)
             .then(resp =>{
                        this.getEdit( JSON.parse(resp.data))
                    }).catch(err=>{
                        console.log('请求失败:'+err.status+','+err.statusText);
                })
        },
        //数据整理
        mulData(){
            var methods = this.method;
            var posturl = this.url;
            var host = this.host;
            var headerinfor = {};
            for (var i = 0; i < this.headerVals.length; i++) {
                var Htype = this.headerVals[i].type;
                var Hvalue = this.headerVals[i].value;
                if(Htype!==""&&Hvalue!==""){
                     headerinfor[Htype] = Hvalue
                }
            }
            var bodyArr = [];
            var bodyinfor = {};
            //console.log(this.showState,this.showbodyState);
            console.log(this.showState);
            console.log(this.showbodyState);

            if (this.showState === 1 && this.showbodyState === 0) {
                headerinfor["Content-Type"] = "multipart/form-data";
                for (var j = 0; j < this.bodyFVals.length; j++) {
                    bodyinfor = {};
                    bodyinfor["params_type"] = this.bodyFVals[j].type;
                    bodyinfor["params_value"] = this.bodyFVals[j].value;
                    bodyinfor["params_name"] = this.bodyFVals[j].name;
                    bodyArr.push(bodyinfor)
                }
            }
            else if (this.showState === 1 && this.showbodyState === 1) {
                headerinfor["Content-Type"] = "application/json";
                for (var k = 0; k < this.bodyJVals.length; k++) {
                    bodyinfor = {};
                    bodyinfor["params_type"] = this.bodyJVals[k].type;
                    bodyinfor["params_value"] = this.bodyJVals[k].value;
                    bodyinfor["params_name"] = this.bodyJVals[k].name;
                    bodyArr.push(bodyinfor)
                }
            }
            else if (this.showState === 1 && this.showbodyState === 2) {
                headerinfor["Content-Type"] = "application/xml";
                for (var l = 0; l < this.bodyXVals.length; l++) {
                    bodyinfor = {};
                    bodyinfor["params_type"] = this.bodyXVals[l].type;
                    bodyinfor["params_value"] = this.bodyXVals[l].value;
                    bodyinfor["params_name"] = this.bodyXVals[l].name;
                    bodyArr.push(bodyinfor)
                }
            }
            else if (this.showState === 1 && this.showbodyState === 3) {
                bodyinfor = {};
                headerinfor["Content-Type"] = "text/plain";
                bodyinfor["params_value"] = this.rawValue;
                bodyArr.push(bodyinfor)
            }
            var getinfor = {};
            console.log(this.getVals);
            for (var w = 0; w < this.getVals.length; w++) {
                var Gtype = this.getVals[w].name;
                var Gvalue = this.getVals[w].value;
                if(Gtype!==""&&Gvalue!==""){
                     getinfor[Gtype] = Gvalue
                }
            }
            var Screatinfor={
                isScreat:this.isScreat,
                Screatinfor:this.Authorization,
                key_id:this.key_id,
                secret_key:this.secret_key
            };
            this.data_to_send = {
                methods:methods,
                host:host,
                url:posturl,
                headers:headerinfor,
                bodyinfor:bodyArr,
                getinfor:getinfor,
                Screatinfor:Screatinfor,
                isRediret:this.isRediret
            };
        },
        //保存用例
        newCase(){
             this.mulData();
             var projectName = this.projectSelect;
             var moduleName = this.modelSelect;
             var caseName = this.caseName;
             this.data_to_send["projectName"] = projectName;
             this.data_to_send["moduleName"] = moduleName;
             this.data_to_send["caseName"] = caseName;
             this.data_to_send["creator"] = vm.$data.login_user;
             console.log(this.data_to_send);
             if(this.initflag === false) {
                 axios.post('/newCase/', {
                     params: {
                         data_to_send:this.data_to_send,
                         flag:this.initflag,
                     }
                     })
                     .then(resp => {
                         toastr.options = {
                             closeButton: false,
                             debug: false,
                             progressBar: false,
                             positionClass: "toast-top-center",
                             onclick: null,
                             showDuration: "300",
                             hideDuration: "1000",
                             timeOut: "2000",
                             extendedTimeOut: "1000",
                             showEasing: "swing",
                             hideEasing: "linear",
                             showMethod: "fadeIn",
                             hideMethod: "fadeOut"
                         };
                         console.log(resp.data);
                         if (resp.data.code === 0) {
                             toastr.success(resp.data.msg);
                         } else {
                             toastr.error(resp.data.msg)
                         }
                     }).catch(err => {
                     console.log('请求失败:' + err.status + ',' + err.statusText);
                 })
             }else{
                 axios.post('/newCase/',{
                     params: {
                         apiId:this.aid,
                         data_to_send:this.data_to_send,
                         flag:this.initflag,
                    }
                 })
                     .then(resp =>{
                         console.log(resp.data);
                         let code = resp.data.code;
                         console.log(code);
                         if(code === 0){
                             alert("更新成功");
                         }
                     })
                     .catch(err=>{
                         console.log('请求失败:'+err.status+','+err.statusText);
                    });
             }
        },
         //生成交易认证
        returnAuthorization(){
             this.mulData();
             this.data_to_send["secret_key"] = this.secret_key;
             this.data_to_send["key_id"] = this.key_id;
             console.log(this.data_to_send);
               axios.post('/returnAuthorization/',this.data_to_send)
             .then(resp =>{
                 console.log(resp.data);
                 this.Authorization = resp.data.data
                    }).catch(err=>{
                        console.log('请求失败:'+err.status+','+err.statusText);
                })

        },
        loadHeader(){
            this.headerVals=[];
            var headerInfor = this.headerText;
            var obj = JSON.parse(headerInfor);
            console.log(obj);
            for(var key in obj) {
                var data = {
                    "type": key,
                    "value": obj[key]
                };
                this.headerVals.push(data)
            }
        }
    },
}).$mount('div')
</script>
{% endblock %}